openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Registry Orders API
  version: v0
servers:
- description: Sandbox Isometric Registry API
  url: https://api.sandbox.isometric.com/registry/v0
- description: Production Isometric Registry API
  url: https://api.isometric.com/registry/v0
tags:
- name: Orders
paths:
  /orders/{id}:
    get:
      description: Information about a specific order.
      operationId: order_orders__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Order_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Order
      tags:
      - Orders
  /orders/{id}/deliveries:
    get:
      description: 'List of deliveries for a given order.


        Deliveries are sorted by most recently delivered first.'
      operationId: order_deliveries_orders__id__deliveries_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Order_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_Delivery_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Order Deliveries
      tags:
      - Orders
components:
  schemas:
    IsometricIDRequestParam_Order_:
      example: ord_1FAN3S3WV1S0B842
      examples:
      - ord_1FAN3S3WV1S0B842
      - ord_1DBVRQDHBSBXWBWP
      maxLength: 37
      minLength: 20
      type: string
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    Delivery:
      properties:
        credit_batch_size_total:
          $ref: '#/components/schemas/CreditQuantity'
        delivered_at:
          format: date-time
          title: Delivered At
          type: string
        from_supplier:
          $ref: '#/components/schemas/Supplier'
        id:
          example: dlv_1C454ZXA61S03Z9T
          examples:
          - dlv_1C454ZXA61S03Z9T
          - dlv_1FAGG2H2PSBXHGYY
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        notes:
          anyOf:
          - maxLength: 256
            type: string
          - type: 'null'
          description: A publicly visible note stored with the credit delivery.
          examples:
          - Delivered with care.
          title: Notes
        order_id:
          example: ord_1FAN3S3WV1S0B842
          examples:
          - ord_1FAN3S3WV1S0B842
          - ord_1DBVRQDHBSBXWBWP
          maxLength: 37
          minLength: 20
          title: Order Id
          type: string
        to_organisation:
          $ref: '#/components/schemas/Organisation'
        url:
          title: Url
          type: string
      required:
      - id
      - delivered_at
      - order_id
      - from_supplier
      - to_organisation
      - credit_batch_size_total
      - url
      - notes
      title: Delivery
      type: object
    OrderStatus:
      enum:
      - placed
      - in_progress
      - completed
      title: OrderStatus
      type: string
    Supplier:
      properties:
        id:
          example: spl_1CC712KFS1S0YKPS
          examples:
          - spl_1CC712KFS1S0YKPS
          - spl_1FJBMMGR3SBXKDME
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        location:
          anyOf:
          - $ref: '#/components/schemas/Location'
          - type: 'null'
        long_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Long Description
        organisation:
          $ref: '#/components/schemas/Organisation'
        short_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Short Description
      required:
      - id
      - short_description
      - long_description
      - organisation
      - location
      title: Supplier
      type: object
    Location:
      properties:
        country_code:
          title: Country Code
          type: string
        country_name:
          title: Country Name
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        latitude:
          maximum: 90
          minimum: -90
          title: Latitude
          type: number
        longitude:
          maximum: 180
          minimum: -180
          title: Longitude
          type: number
      required:
      - country_code
      - country_name
      - latitude
      - longitude
      title: Location
      type: object
    Order:
      properties:
        buyer_organisation:
          $ref: '#/components/schemas/Organisation'
        credits_delivered:
          $ref: '#/components/schemas/CreditQuantity'
        credits_ordered:
          $ref: '#/components/schemas/CreditQuantity'
        effective_contract_date:
          format: date
          title: Effective Contract Date
          type: string
        fulfilled_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Fulfilled At
        id:
          example: ord_1FAN3S3WV1S0B842
          examples:
          - ord_1FAN3S3WV1S0B842
          - ord_1DBVRQDHBSBXWBWP
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        supplier:
          $ref: '#/components/schemas/Supplier'
      required:
      - id
      - effective_contract_date
      - fulfilled_at
      - buyer_organisation
      - supplier
      - status
      - credits_ordered
      - credits_delivered
      title: Order
      type: object
    IsometricIDPathParam_Order_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Order_'
    PaginatedListResource_Delivery_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Delivery'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[Delivery]
      type: object
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    Organisation:
      properties:
        domain:
          anyOf:
          - type: string
          - type: 'null'
          examples:
          - isometric.com
          title: Domain
        id:
          example: org_1GB56M1ST1S0GVNA
          examples:
          - org_1GB56M1ST1S0GVNA
          - org_1CP8EQDNQSBXTMR2
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        name:
          examples:
          - Isometric
          title: Name
          type: string
      required:
      - id
      - name
      - domain
      title: Organisation
      type: object
    CreditQuantity:
      properties:
        credit_kgs:
          description: A representation of the credit quantity as an integer kilogram amount. Where 1 unit represents 0.001 credits and 1 kilogram of CO₂e. This field can handle bigint values.
          examples:
          - 125632
          title: Credit Kgs
          type: integer
        credits:
          description: A representation of the credit quantity as a fractional amount, to 3 decimal places. Where 1 unit represents 1 credit and 1 ton of CO₂e.
          examples:
          - 125.632
          title: Credits
          type: number
      required:
      - credits
      - credit_kgs
      title: CreditQuantity
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
