openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Certify Data Ingestion File Uploads API
  version: v0
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
tags:
- name: File Uploads
paths:
  /file-uploads:
    post:
      operationId: post_file_upload_file_uploads_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileUploadRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUpload'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post File Upload
      tags:
      - File Uploads
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    FileUpload:
      properties:
        id:
          example: tfu_1DZPAW31R1S0ZESH
          examples:
          - tfu_1DZPAW31R1S0ZESH
          - tfu_1CHF4YC38SBX9E20
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        upload_url:
          description: A presigned upload URL, which must be used to upload the document associated with this source.
          title: Upload Url
          type: string
      required:
      - id
      - upload_url
      title: FileUpload
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    CreateFileUploadRequest:
      properties:
        content_length:
          description: The size (in bytes) of the file that will be uploaded. The pre-signed URL will only accept a file of this size.
          maximum: 100000000.0
          title: Content Length
          type: integer
        content_type:
          const: application/vnd.apache.parquet
          description: The content type of the file that will be uploaded. This must also be passed as a 'content-type' header during the upload. The pre-signed URL will only accept a file of this content-type.
          title: Content Type
          type: string
        file_name:
          description: The original filename of the file that will be uploaded. This is used for display purposes only and does not affect the upload process.
          title: File Name
          type: string
      required:
      - content_type
      - content_length
      - file_name
      title: CreateFileUploadRequest
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
