openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Certify Data Ingestion Data Upload Submissions API
  version: v0
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
tags:
- name: Data Upload Submissions
paths:
  /data-upload-submissions:
    get:
      description: List data upload jobs with optional status filtering
      operationId: get_data_upload_submissions_data_upload_submissions_get
      parameters:
      - in: query
        name: status
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/DataUploadSubmissionStatus'
          - type: 'null'
          title: Status
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_DataUploadSubmission_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Data Upload Submissions
      tags:
      - Data Upload Submissions
    post:
      operationId: post_data_upload_submission_data_upload_submissions_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataUploadSubmissionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataUploadSubmission'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Data Upload Submission
      tags:
      - Data Upload Submissions
  /data-upload-submissions/{id}:
    get:
      description: Get a specific data upload job by ID
      operationId: get_data_upload_submission_data_upload_submissions__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_DataUploadSubmission_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataUploadSubmission'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Data Upload Submission
      tags:
      - Data Upload Submissions
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    DataUploadSubmission:
      properties:
        error_message:
          anyOf:
          - type: string
          - type: 'null'
          description: Error message if the submission failed during processing.
          title: Error Message
        facility_id:
          anyOf:
          - example: fcl_1G8QT5ZAB1S0XSDW
            examples:
            - fcl_1G8QT5ZAB1S0XSDW
            - fcl_1E384BDCGSBXNNZZ
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          title: Facility Id
        id:
          example: dus_1GBBSJ6P91S0R41N
          examples:
          - dus_1GBBSJ6P91S0R41N
          - dus_1CRY1X1Q3SBX1CY2
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        status:
          $ref: '#/components/schemas/DataUploadSubmissionStatus'
        storage_location_id:
          anyOf:
          - example: slc_1F3PMGVC91S0SBK3
            examples:
            - slc_1F3PMGVC91S0SBK3
            - slc_1DCY5K78BSBX3XMZ
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          title: Storage Location Id
        submission_type:
          $ref: '#/components/schemas/DataUploadSubmissionType'
      required:
      - id
      - submission_type
      - status
      - storage_location_id
      - facility_id
      title: DataUploadSubmission
      type: object
    PaginatedListResource_DataUploadSubmission_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/DataUploadSubmission'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[DataUploadSubmission]
      type: object
    CreateDataUploadSubmissionRequest:
      properties:
        facility_id:
          anyOf:
          - example: fcl_1G8QT5ZAB1S0XSDW
            examples:
            - fcl_1G8QT5ZAB1S0XSDW
            - fcl_1E384BDCGSBXNNZZ
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          description: The ID of the facility the data is associated with.
          title: Facility Id
        file_upload_id:
          description: The ID of the file upload that contains the data to be processed.
          example: tfu_1DZPAW31R1S0ZESH
          examples:
          - tfu_1DZPAW31R1S0ZESH
          - tfu_1CHF4YC38SBX9E20
          maxLength: 37
          minLength: 20
          title: File Upload Id
          type: string
        storage_location_id:
          anyOf:
          - example: slc_1F3PMGVC91S0SBK3
            examples:
            - slc_1F3PMGVC91S0SBK3
            - slc_1DCY5K78BSBX3XMZ
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          description: The ID of the storage location the data is associated with.
          title: Storage Location Id
        submission_type:
          $ref: '#/components/schemas/DataUploadSubmissionType'
      required:
      - submission_type
      - file_upload_id
      title: CreateDataUploadSubmissionRequest
      type: object
    IsometricIDRequestParam_DataUploadSubmission_:
      example: dus_1GBBSJ6P91S0R41N
      examples:
      - dus_1GBBSJ6P91S0R41N
      - dus_1CRY1X1Q3SBX1CY2
      maxLength: 37
      minLength: 20
      type: string
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    DataUploadSubmissionType:
      enum:
      - biochar_pyrolysis_reactor_facility_time_series
      - dac_storage_site_time_series
      - dac_facility_time_series
      - wae_wastewater_treatment_plant_facility_time_series
      title: DataUploadSubmissionType
      type: string
    IsometricIDPathParam_DataUploadSubmission_:
      $ref: '#/components/schemas/IsometricIDRequestParam_DataUploadSubmission_'
    DataUploadSubmissionStatus:
      enum:
      - pending
      - completed
      - failed
      title: DataUploadSubmissionStatus
      type: string
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
