openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Registry Organisations API
  version: v0
servers:
- description: Sandbox Isometric Registry API
  url: https://api.sandbox.isometric.com/registry/v0
- description: Production Isometric Registry API
  url: https://api.isometric.com/registry/v0
tags:
- name: Organisations
paths:
  /organisations/{id}:
    get:
      description: Information about a specific organisation.
      operationId: organisation_organisations__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Organisation_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Organisation'
                - type: 'null'
                title: Response Organisation Organisations  Id  Get
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Organisation
      tags:
      - Organisations
  /organisations/{id}/credit_balance:
    get:
      description: 'Information about active and retired credits owned by the given organisation.


        Includes total balances as well as balances split by orders, projects and suppliers.'
      operationId: organisation_credit_balance_organisations__id__credit_balance_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Organisation_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCreditBalance'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Organisation Credit Balance
      tags:
      - Organisations
  /organisations/{id}/credit_batches:
    get:
      description: 'A paginated list of all credit batches currently owned or retired on behalf of the organisation, sorted by issuance date. By default it excludes batches with the status ''split''.


        Note that when combining filters, the result will be the intersection of them. For example, when filtering by `supplier_id` and `issued_after`, the result will only include credit batches from the specified supplier that have been issued after the specified date.'
      operationId: organisation_credit_batches_organisations__id__credit_batches_get
      parameters:
      - description: The ID of the organisation.
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDQueryParam_Organisation_'
          description: The ID of the organisation.
      - description: Filter credit batches by the supplier that was issued the credits
        in: query
        name: supplier_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_Supplier_'
          - type: 'null'
          description: Filter credit batches by the supplier that was issued the credits
          title: Supplier Id
      - description: Filter credit batches by the project that the credits were issued for
        in: query
        name: project_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_Project_'
          - type: 'null'
          description: Filter credit batches by the project that the credits were issued for
          title: Project Id
      - description: Filter credit batches by their issuance
        in: query
        name: issuance_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_Issuance_'
          - type: 'null'
          description: Filter credit batches by their issuance
          title: Issuance Id
      - description: Filter credit batches by the delivery that they were part of
        in: query
        name: delivery_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_Delivery_'
          - type: 'null'
          description: Filter credit batches by the delivery that they were part of
          title: Delivery Id
      - description: Filter credit batches by the order they have been delivered against
        in: query
        name: order_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_Order_'
          - type: 'null'
          description: Filter credit batches by the order they have been delivered against
          title: Order Id
      - description: Filter credit batches by the retirement they have been part of
        in: query
        name: retirement_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_Retirement_'
          - type: 'null'
          description: Filter credit batches by the retirement they have been part of
          title: Retirement Id
      - description: Filter credit batches by status. Note that 'split' status is excluded by default.
        in: query
        name: status
        required: false
        schema:
          anyOf:
          - items:
              $ref: '#/components/schemas/CreditBatchStatus'
            type: array
            uniqueItems: true
          - type: 'null'
          description: Filter credit batches by status. Note that 'split' status is excluded by default.
          title: Status
      - description: 'Filter credit batches to only return ones issued strictly after this timestamp. Format: ISO8601-like including timezone, eg. 2021-01-01T00:00:00Z'
        in: query
        name: issued_after
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Filter credit batches to only return ones issued strictly after this timestamp. Format: ISO8601-like including timezone, eg. 2021-01-01T00:00:00Z'
          examples:
          - '2021-01-01T00:00:00Z'
          title: Issued After
      - description: 'Filter credit batches to only return ones issued strictly before this timestamp. Format: ISO8601-like including timezone, eg. 2024-01-01T00:00:00Z'
        in: query
        name: issued_before
        required: false
        schema:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: 'Filter credit batches to only return ones issued strictly before this timestamp. Format: ISO8601-like including timezone, eg. 2024-01-01T00:00:00Z'
          examples:
          - '2024-01-01T00:00:00Z'
          title: Issued Before
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - in: query
        name: sort_field
        required: false
        schema:
          $ref: '#/components/schemas/CreditBatchSortField'
          default: issued_at
      - in: query
        name: sort_direction
        required: false
        schema:
          $ref: '#/components/schemas/SortDirection'
          default: desc
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_CreditBatch_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Organisation Credit Batches
      tags:
      - Organisations
  /organisations/{id}/orders:
    get:
      description: A paginated list of all orders placed by the organisation, sorted by descending placement date.
      operationId: organisation_orders_organisations__id__orders_get
      parameters:
      - description: The ID of the organisation
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDQueryParam_Organisation_'
          description: The ID of the organisation
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_Order_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Organisation Orders
      tags:
      - Organisations
components:
  schemas:
    CarbonRemovalData:
      properties:
        counterfactuals_kg:
          title: Counterfactuals Kg
          type: integer
        emissions_kg:
          title: Emissions Kg
          type: integer
        gross_carbon_removed_kg:
          title: Gross Carbon Removed Kg
          type: integer
        losses_kg:
          title: Losses Kg
          type: integer
        net_carbon_removed_kg:
          title: Net Carbon Removed Kg
          type: integer
      required:
      - gross_carbon_removed_kg
      - net_carbon_removed_kg
      - emissions_kg
      - counterfactuals_kg
      - losses_kg
      title: CarbonRemovalData
      type: object
    IsometricIDRequestParam_Supplier_:
      example: spl_1CC712KFS1S0YKPS
      examples:
      - spl_1CC712KFS1S0YKPS
      - spl_1FJBMMGR3SBXKDME
      maxLength: 37
      minLength: 20
      type: string
    IsometricIDRequestParam_Delivery_:
      example: dlv_1C454ZXA61S03Z9T
      examples:
      - dlv_1C454ZXA61S03Z9T
      - dlv_1FAGG2H2PSBXHGYY
      maxLength: 37
      minLength: 20
      type: string
    CreditBatchSortField:
      enum:
      - issued_at
      title: CreditBatchSortField
      type: string
    Location:
      properties:
        country_code:
          title: Country Code
          type: string
        country_name:
          title: Country Name
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        latitude:
          maximum: 90
          minimum: -90
          title: Latitude
          type: number
        longitude:
          maximum: 180
          minimum: -180
          title: Longitude
          type: number
      required:
      - country_code
      - country_name
      - latitude
      - longitude
      title: Location
      type: object
    PaginatedListResource_Order_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Order'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[Order]
      type: object
    IsometricIDQueryParam_Issuance_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Issuance_'
    OrderStatus:
      enum:
      - placed
      - in_progress
      - completed
      title: OrderStatus
      type: string
    IsometricIDQueryParam_Delivery_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Delivery_'
    CreditBalance:
      properties:
        active_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
        retired_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
      required:
      - active_credits_total
      - retired_credits_total
      title: CreditBalance
      type: object
    IsometricIDRequestParam_Organisation_:
      example: org_1GB56M1ST1S0GVNA
      examples:
      - org_1GB56M1ST1S0GVNA
      - org_1CP8EQDNQSBXTMR2
      maxLength: 37
      minLength: 20
      type: string
    IsometricIDRequestParam_Issuance_:
      example: iss_1EWT8R5FY1S0GFCY
      examples:
      - iss_1EWT8R5FY1S0GFCY
      - iss_1CSVDDHH3SBXRP6K
      maxLength: 37
      minLength: 20
      type: string
    CreditBatch:
      properties:
        beneficiary:
          anyOf:
          - $ref: '#/components/schemas/Organisation'
          - type: 'null'
        carbon_removal_data:
          anyOf:
          - $ref: '#/components/schemas/CarbonRemovalData'
          - type: 'null'
          description: Carbon removal data for this credit batch
        ccp_approved:
          description: Whether this credit batch has been issued as part of a ICVCM Core Carbon Principles (CCP) approved project
          title: CCP Approved
          type: boolean
        country_of_issue:
          examples:
          - GBR
          maxLength: 3
          minLength: 3
          title: Country Of Issue
          type: string
        delivered_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Delivered At
        delivery_id:
          anyOf:
          - example: dlv_1C454ZXA61S03Z9T
            examples:
            - dlv_1C454ZXA61S03Z9T
            - dlv_1FAGG2H2PSBXHGYY
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          title: Delivery Id
        id:
          example: ctb_1DRBTYA8Q1S07CBY
          examples:
          - ctb_1DRBTYA8Q1S07CBY
          - ctb_1CA2D3S73SBXYN70
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        issuance_id:
          example: iss_1EWT8R5FY1S0GFCY
          examples:
          - iss_1EWT8R5FY1S0GFCY
          - iss_1CSVDDHH3SBXRP6K
          maxLength: 37
          minLength: 20
          title: Issuance Id
          type: string
        issued_at:
          format: date-time
          title: Issued At
          type: string
        left_child_id:
          anyOf:
          - example: ctb_1DRBTYA8Q1S07CBY
            examples:
            - ctb_1DRBTYA8Q1S07CBY
            - ctb_1CA2D3S73SBXYN70
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          description: If this credit batch has status `SPLIT`, it will have two child batches representing the two halves of this split.
          title: Left Child Id
        owner:
          $ref: '#/components/schemas/Organisation'
        parent_id:
          anyOf:
          - example: ctb_1DRBTYA8Q1S07CBY
            examples:
            - ctb_1DRBTYA8Q1S07CBY
            - ctb_1CA2D3S73SBXYN70
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          description: If this credit batch was created from splitting a larger batch in two, this will be set to the id of the parent credit batch.
          title: Parent Id
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        removal_id:
          example: rmv_1EEM6NJXX1S0EXKD
          examples:
          - rmv_1EEM6NJXX1S0EXKD
          - rmv_1E3V4J2EWSBX5E82
          maxLength: 37
          minLength: 20
          title: Removal Id
          type: string
        retired_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Retired At
        retirement_id:
          anyOf:
          - example: ret_1FYBH4QDT1S0SVKF
            examples:
            - ret_1FYBH4QDT1S0SVKF
            - ret_1CGV2XADRSBX1CHB
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          title: Retirement Id
        right_child_id:
          anyOf:
          - example: ctb_1DRBTYA8Q1S07CBY
            examples:
            - ctb_1DRBTYA8Q1S07CBY
            - ctb_1CA2D3S73SBXYN70
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          description: If this credit batch has status `SPLIT`, it will have two child batches representing the two halves of this split.
          title: Right Child Id
        sequestered_on:
          format: date
          title: Sequestered On
          type: string
        serial_number:
          examples:
          - ISO-1-BSTORE-GBR-F5X7-2024-78177-81177
          title: Serial Number
          type: string
        size:
          $ref: '#/components/schemas/CreditQuantity'
        status:
          $ref: '#/components/schemas/CreditBatchStatus'
        supplier_id:
          example: spl_1CC712KFS1S0YKPS
          examples:
          - spl_1CC712KFS1S0YKPS
          - spl_1FJBMMGR3SBXKDME
          maxLength: 37
          minLength: 20
          title: Supplier Id
          type: string
      required:
      - id
      - serial_number
      - status
      - size
      - issued_at
      - retired_at
      - delivered_at
      - sequestered_on
      - country_of_issue
      - supplier_id
      - parent_id
      - left_child_id
      - right_child_id
      - issuance_id
      - delivery_id
      - beneficiary
      - retirement_id
      - removal_id
      - owner
      - project_id
      - carbon_removal_data
      - ccp_approved
      title: CreditBatch
      type: object
    Organisation:
      properties:
        domain:
          anyOf:
          - type: string
          - type: 'null'
          examples:
          - isometric.com
          title: Domain
        id:
          example: org_1GB56M1ST1S0GVNA
          examples:
          - org_1GB56M1ST1S0GVNA
          - org_1CP8EQDNQSBXTMR2
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        name:
          examples:
          - Isometric
          title: Name
          type: string
      required:
      - id
      - name
      - domain
      title: Organisation
      type: object
    IsometricIDPathParam_Organisation_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Organisation_'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    SupplierCreditBalance:
      properties:
        supplier_id:
          example: spl_1CC712KFS1S0YKPS
          examples:
          - spl_1CC712KFS1S0YKPS
          - spl_1FJBMMGR3SBXKDME
          maxLength: 37
          minLength: 20
          title: Supplier Id
          type: string
        total:
          $ref: '#/components/schemas/CreditBalance'
      required:
      - supplier_id
      - total
      title: SupplierCreditBalance
      type: object
    IsometricIDQueryParam_Order_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Order_'
    Supplier:
      properties:
        id:
          example: spl_1CC712KFS1S0YKPS
          examples:
          - spl_1CC712KFS1S0YKPS
          - spl_1FJBMMGR3SBXKDME
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        location:
          anyOf:
          - $ref: '#/components/schemas/Location'
          - type: 'null'
        long_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Long Description
        organisation:
          $ref: '#/components/schemas/Organisation'
        short_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Short Description
      required:
      - id
      - short_description
      - long_description
      - organisation
      - location
      title: Supplier
      type: object
    IsometricIDRequestParam_Project_:
      example: prj_1CTWZQGKE1S0VAXA
      examples:
      - prj_1CTWZQGKE1S0VAXA
      - prj_1E0QTWB22SBX34D1
      maxLength: 37
      minLength: 20
      type: string
    IsometricIDQueryParam_Supplier_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Supplier_'
    PaginatedListResource_CreditBatch_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/CreditBatch'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[CreditBatch]
      type: object
    CreditQuantity:
      properties:
        credit_kgs:
          description: A representation of the credit quantity as an integer kilogram amount. Where 1 unit represents 0.001 credits and 1 kilogram of CO₂e. This field can handle bigint values.
          examples:
          - 125632
          title: Credit Kgs
          type: integer
        credits:
          description: A representation of the credit quantity as a fractional amount, to 3 decimal places. Where 1 unit represents 1 credit and 1 ton of CO₂e.
          examples:
          - 125.632
          title: Credits
          type: number
      required:
      - credits
      - credit_kgs
      title: CreditQuantity
      type: object
    ProjectCreditBalance:
      properties:
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        total:
          $ref: '#/components/schemas/CreditBalance'
      required:
      - project_id
      - total
      title: ProjectCreditBalance
      type: object
    IsometricIDRequestParam_Order_:
      example: ord_1FAN3S3WV1S0B842
      examples:
      - ord_1FAN3S3WV1S0B842
      - ord_1DBVRQDHBSBXWBWP
      maxLength: 37
      minLength: 20
      type: string
    IsometricIDRequestParam_Retirement_:
      example: ret_1FYBH4QDT1S0SVKF
      examples:
      - ret_1FYBH4QDT1S0SVKF
      - ret_1CGV2XADRSBX1CHB
      maxLength: 37
      minLength: 20
      type: string
    OrderCreditBalance:
      properties:
        order_id:
          example: ord_1FAN3S3WV1S0B842
          examples:
          - ord_1FAN3S3WV1S0B842
          - ord_1DBVRQDHBSBXWBWP
          maxLength: 37
          minLength: 20
          title: Order Id
          type: string
        total:
          $ref: '#/components/schemas/CreditBalance'
      required:
      - order_id
      - total
      title: OrderCreditBalance
      type: object
    IsometricIDQueryParam_Organisation_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Organisation_'
    OrganisationCreditBalance:
      properties:
        order_balances:
          items:
            $ref: '#/components/schemas/OrderCreditBalance'
          title: Order Balances
          type: array
        project_balances:
          items:
            $ref: '#/components/schemas/ProjectCreditBalance'
          title: Project Balances
          type: array
        supplier_balances:
          items:
            $ref: '#/components/schemas/SupplierCreditBalance'
          title: Supplier Balances
          type: array
        total:
          $ref: '#/components/schemas/CreditBalance'
      required:
      - total
      - supplier_balances
      - project_balances
      - order_balances
      title: OrganisationCreditBalance
      type: object
    Order:
      properties:
        buyer_organisation:
          $ref: '#/components/schemas/Organisation'
        credits_delivered:
          $ref: '#/components/schemas/CreditQuantity'
        credits_ordered:
          $ref: '#/components/schemas/CreditQuantity'
        effective_contract_date:
          format: date
          title: Effective Contract Date
          type: string
        fulfilled_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Fulfilled At
        id:
          example: ord_1FAN3S3WV1S0B842
          examples:
          - ord_1FAN3S3WV1S0B842
          - ord_1DBVRQDHBSBXWBWP
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        supplier:
          $ref: '#/components/schemas/Supplier'
      required:
      - id
      - effective_contract_date
      - fulfilled_at
      - buyer_organisation
      - supplier
      - status
      - credits_ordered
      - credits_delivered
      title: Order
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    CreditBatchStatus:
      enum:
      - active
      - split
      - retired
      title: CreditBatchStatus
      type: string
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    IsometricIDQueryParam_Retirement_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Retirement_'
    IsometricIDQueryParam_Project_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Project_'
    SortDirection:
      enum:
      - asc
      - desc
      title: SortDirection
      type: string
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
