openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Certify Data Ingestion Production Batches API
  version: v0
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
tags:
- name: Production Batches
paths:
  /production_batches:
    get:
      description: Lists production batches in the Isometric system.
      operationId: get_production_batches_production_batches_get
      parameters:
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_ProductionBatch_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Production Batches
      tags:
      - Production Batches
    post:
      description: Creates a production batch in the Isometric system
      operationId: post_production_batch_production_batches_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductionBatchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductionBatch'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Production Batch
      tags:
      - Production Batches
  /production_batches/{id}:
    delete:
      description: Deletes a production batch in the Isometric system
      operationId: delete_production_batch_production_batches__id__delete
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_ProductionBatch_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Production Batch
      tags:
      - Production Batches
    get:
      description: Get a single production batch in the Isometric system
      operationId: get_production_batch_production_batches__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_ProductionBatch_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductionBatch'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Production Batch
      tags:
      - Production Batches
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ProductionBatchKind:
      enum:
      - biochar
      title: ProductionBatchKind
      type: string
    PaginatedListResource_ProductionBatch_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/ProductionBatch'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[ProductionBatch]
      type: object
    IsometricIDPathParam_ProductionBatch_:
      $ref: '#/components/schemas/IsometricIDRequestParam_ProductionBatch_'
    ProductionBatch:
      properties:
        display_name:
          title: Display Name
          type: string
        ended_at:
          format: date-time
          title: Ended At
          type: string
        facility_id:
          example: fcl_1G8QT5ZAB1S0XSDW
          examples:
          - fcl_1G8QT5ZAB1S0XSDW
          - fcl_1E384BDCGSBXNNZZ
          maxLength: 37
          minLength: 20
          title: Facility Id
          type: string
        feedstock_type_ids:
          items:
            example: ftt_1D7KZ1P761S0G7BN
            examples:
            - ftt_1D7KZ1P761S0G7BN
            - ftt_1CSRJN4HHSBXZ3TK
            maxLength: 37
            minLength: 20
            type: string
          title: Feedstock Type Ids
          type: array
        id:
          example: ptb_1GAFJ4C051S06E0Z
          examples:
          - ptb_1GAFJ4C051S06E0Z
          - ptb_1FQVMJYTASBXSZT8
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        kind:
          $ref: '#/components/schemas/ProductionBatchKind'
        mass:
          $ref: '#/components/schemas/ScalarQuantity'
        started_at:
          format: date-time
          title: Started At
          type: string
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          title: Supplier Reference Id
        uploaded_at:
          format: date-time
          title: Uploaded At
          type: string
      required:
      - id
      - facility_id
      - feedstock_type_ids
      - supplier_reference_id
      - kind
      - started_at
      - ended_at
      - uploaded_at
      - display_name
      - mass
      title: ProductionBatch
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    CreateProductionBatchRequest:
      properties:
        display_name:
          anyOf:
          - maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          description: The display name for this production batch. If not provided, one will be auto-generated from the facility name
          title: Display Name
        ended_at:
          description: The date and time at which production of this production batch was completed
          format: date-time
          title: Ended At
          type: string
        facility_id:
          description: The facility where the production batch was created
          example: fcl_1G8QT5ZAB1S0XSDW
          examples:
          - fcl_1G8QT5ZAB1S0XSDW
          - fcl_1E384BDCGSBXNNZZ
          maxLength: 37
          minLength: 20
          title: Facility Id
          type: string
        feedstock_type_ids:
          description: The kinds of feedstock used to create this production batch
          items:
            example: ftt_1D7KZ1P761S0G7BN
            examples:
            - ftt_1D7KZ1P761S0G7BN
            - ftt_1CSRJN4HHSBXZ3TK
            maxLength: 37
            minLength: 20
            type: string
          title: Feedstock Type Ids
          type: array
        kind:
          $ref: '#/components/schemas/ProductionBatchKind'
          description: The kind of production batch
        mass:
          $ref: '#/components/schemas/ScalarQuantity'
        started_at:
          description: The date and time at which production of this production batch was started
          format: date-time
          title: Started At
          type: string
        supplier_reference_id:
          description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
          maxLength: 100
          minLength: 1
          title: Supplier Reference Id
          type: string
      required:
      - facility_id
      - feedstock_type_ids
      - supplier_reference_id
      - kind
      - started_at
      - ended_at
      - mass
      title: CreateProductionBatchRequest
      type: object
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    ScalarQuantity:
      properties:
        magnitude:
          title: Magnitude
          type: number
        standard_deviation:
          anyOf:
          - type: number
          - type: 'null'
          title: Standard Deviation
        unit:
          minLength: 1
          title: Unit
          type: string
      required:
      - magnitude
      - unit
      title: ScalarQuantity
      type: object
    IsometricIDRequestParam_ProductionBatch_:
      example: ptb_1GAFJ4C051S06E0Z
      examples:
      - ptb_1GAFJ4C051S06E0Z
      - ptb_1FQVMJYTASBXSZT8
      maxLength: 37
      minLength: 20
      type: string
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
