openapi: 3.2.0
info:
  title: Isometric Projects API
  version: v0
  description: 'Operations tagged Projects across 2 of this provider''s published API definitions: isometric-certify-api-openapi.json, isometric-registry-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
- description: Sandbox Isometric Registry API
  url: https://api.sandbox.isometric.com/registry/v0
- description: Production Isometric Registry API
  url: https://api.isometric.com/registry/v0
tags:
- name: Projects
paths:
  /projects:
    get:
      description: Lists projects in the Isometric system
      operationId: get_projects_projects_get
      parameters:
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_Project_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Projects
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{id}/monitoring_requirements:
    get:
      description: Lists all monitoring requirements for a project.
      operationId: get_project_monitoring_requirements_projects__id__monitoring_requirements_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: query
        name: storage_location_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_StorageLocation_'
          - type: 'null'
          title: Storage Location Id
      - in: query
        name: storage_unit_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_StorageUnit_'
          - type: 'null'
          title: Storage Unit Id
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_ProjectMonitoringRequirement_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Project Monitoring Requirements
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{project_id}/monitoring_requirements/{id}/submissions:
    get:
      description: Lists all monitoring submissions for a project monitoring requirement
      operationId: get_monitoring_submissions_projects__project_id__monitoring_requirements__id__submissions_get
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: id
        required: true
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDPathParam_MonitoringRequirement_'
          - $ref: '#/components/schemas/IsometricIDPathParam_ProjectRequirement_'
          title: Id
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_MonitoringSubmission_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Monitoring Submissions
      tags:
      - Projects
    post:
      description: 'Creates a monitoring submission for a project monitoring requirement.


        The submission is associated with a previously uploaded source document (see Post Source).

        One source may be used to create multiple submissions.'
      operationId: post_monitoring_submission_projects__project_id__monitoring_requirements__id__submissions_post
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: id
        required: true
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDPathParam_MonitoringRequirement_'
          - $ref: '#/components/schemas/IsometricIDPathParam_ProjectRequirement_'
          title: Id
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMonitoringSubmissionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoringSubmission'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Monitoring Submission
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{project_id}/monitoring_requirements/{monitoring_requirement_id}/submissions/{id}:
    delete:
      description: Deletes a monitoring submission for a project monitoring requirement
      operationId: delete_monitoring_submission_projects__project_id__monitoring_requirements__monitoring_requirement_id__submissions__id__delete
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: monitoring_requirement_id
        required: true
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDPathParam_MonitoringRequirement_'
          - $ref: '#/components/schemas/IsometricIDPathParam_ProjectRequirement_'
          title: Monitoring Requirement Id
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_MonitoringSubmission_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Monitoring Submission
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{project_id}/monitoring_requirements/{requirement_id}:
    get:
      description: Get a specific monitoring requirement within a project.
      operationId: get_project_monitoring_requirement_projects__project_id__monitoring_requirements__requirement_id__get
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: requirement_id
        required: true
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDPathParam_MonitoringRequirement_'
          - $ref: '#/components/schemas/IsometricIDPathParam_ProjectRequirement_'
          title: Requirement Id
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMonitoringRequirement'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Project Monitoring Requirement
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{project_id}/removal_templates:
    get:
      description: Lists all removal templates within the given project
      operationId: get_removal_templates_projects__project_id__removal_templates_get
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_RemovalTemplate_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Removal Templates
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{project_id}/removal_templates/{id}:
    get:
      description: Gets a single removal template within the given project
      operationId: get_removal_template_projects__project_id__removal_templates__id__get
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_GhgEntryTemplate_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemovalTemplate'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Removal Template
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{project_id}/storage_locations:
    get:
      description: Gets storage locations for a project.
      operationId: get_storage_locations_projects__project_id__storage_locations_get
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_StorageLocation_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Storage Locations
      tags:
      - Projects
    post:
      description: Creates a storage location for a project in the Isometric system.
      operationId: post_storage_location_projects__project_id__storage_locations_post
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStorageLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageLocation'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Storage Location
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{project_id}/storage_locations/{id}:
    delete:
      description: Deletes a storage location for a project
      operationId: delete_storage_location_projects__project_id__storage_locations__id__delete
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_StorageLocation_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Storage Location
      tags:
      - Projects
    get:
      description: Gets storage location for a project.
      operationId: get_storage_location_projects__project_id__storage_locations__id__get
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_StorageLocation_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageLocation'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Storage Location
      tags:
      - Projects
    patch:
      description: Patches storage location in the Isometric system.
      operationId: patch_storage_location_projects__project_id__storage_locations__id__patch
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_StorageLocation_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchStorageLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageLocation'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Patch Storage Location
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{project_id}/storage_locations/{id}/monitoring_requirements:
    get:
      description: Lists all monitoring requirements for a project storage location.
      operationId: get_project_storage_location_monitoring_requirements_projects__project_id__storage_locations__id__monitoring_requirements_get
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_StorageLocation_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_ProjectMonitoringRequirement_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Project Storage Location Monitoring Requirements
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric MRV API
      url: https://api.sandbox.isometric.com/mrv/v0
    - description: Production Isometric MRV API
      url: https://api.isometric.com/mrv/v0
  /projects/{id}:
    get:
      description: Information about a specific project.
      operationId: project_projects__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Project_2'
                - type: 'null'
                title: Response Project Projects  Id  Get
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Project
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric Registry API
      url: https://api.sandbox.isometric.com/registry/v0
    - description: Production Isometric Registry API
      url: https://api.isometric.com/registry/v0
  /projects/{id}/documents:
    get:
      description: 'A paginated list of all project documents for the given project.


        Returned list of documents will be sorted alphabetically by document name.'
      operationId: project_documents_projects__id__documents_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Project_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_ProjectDocument_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Project Documents
      tags:
      - Projects
    servers:
    - description: Sandbox Isometric Registry API
      url: https://api.sandbox.isometric.com/registry/v0
    - description: Production Isometric Registry API
      url: https://api.isometric.com/registry/v0
components:
  schemas:
    IsometricIDPathParam_MonitoringRequirement_:
      $ref: '#/components/schemas/IsometricIDRequestParam_MonitoringRequirement_'
    CreateStorageLocationRequest:
      properties:
        description:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Description
        latitude:
          maximum: 90.0
          minimum: -90.0
          title: Latitude
          type: number
        longitude:
          maximum: 180.0
          minimum: -180.0
          title: Longitude
          type: number
        name:
          title: Name
          type: string
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        storage_method:
          anyOf:
          - $ref: '#/components/schemas/StorageMethod'
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Storage Method
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Supplier Reference Id
      required:
      - project_id
      - name
      - latitude
      - longitude
      title: CreateStorageLocationRequest
      type: object
    IsometricIDRequestParam_GhgEntryTemplate_:
      example: rvt_1EVC8RZFE1S0BAT6
      examples:
      - rvt_1EVC8RZFE1S0BAT6
      - rvt_1ECDZGE2DSBX88EX
      maxLength: 37
      minLength: 20
      type: string
    Frequency:
      enum:
      - na
      - once
      - optional
      - if_needed
      - every_1_days
      - every_1_months
      - every_2_weeks
      - every_3_months
      - every_6_months
      - every_2_years
      - every_5_years
      title: Frequency
      type: string
    IsometricIDPathParam_GhgEntryTemplate_:
      $ref: '#/components/schemas/IsometricIDRequestParam_GhgEntryTemplate_'
    PaginatedListResource_MonitoringSubmission_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/MonitoringSubmission'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[MonitoringSubmission]
      type: object
    ComponentInputType:
      enum:
      - fixed
      - monitored
      title: ComponentInputType
      type: string
    IsometricIDRequestParam_MonitoringSubmission_:
      example: mns_1D46WGW6A1S03FRG
      examples:
      - mns_1D46WGW6A1S03FRG
      - mns_1DCRH1P6JSBX480H
      maxLength: 37
      minLength: 20
      type: string
    ProjectMonitoringRequirement:
      properties:
        display_name:
          title: Display Name
          type: string
        frequency:
          $ref: '#/components/schemas/Frequency'
        id:
          anyOf:
          - example: pfx_1HQTSP3RX1S0Y2RG
            examples:
            - pfx_1HQTSP3RX1S0Y2RG
            - pfx_1FFWQZH4HSBX6F9N
            maxLength: 37
            minLength: 20
            type: string
          - example: mnr_1DJJQY5C61S0R519
            examples:
            - mnr_1DJJQY5C61S0R519
            - mnr_1EKAZQMAZSBXDV59
            maxLength: 37
            minLength: 20
            type: string
          title: Id
        monitoring_phase:
          $ref: '#/components/schemas/MonitoringPhase'
        notes:
          anyOf:
          - type: string
          - type: 'null'
          title: Notes
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        storage_location_id:
          anyOf:
          - example: slc_1F3PMGVC91S0SBK3
            examples:
            - slc_1F3PMGVC91S0SBK3
            - slc_1DCY5K78BSBX3XMZ
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          title: Storage Location Id
        storage_unit_id:
          anyOf:
          - example: sgu_1E844FWM71S0E0TM
            examples:
            - sgu_1E844FWM71S0E0TM
            - sgu_1DTBHQEBGSBXBCZV
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          title: Storage Unit Id
      required:
      - id
      - project_id
      - storage_location_id
      - storage_unit_id
      - display_name
      - monitoring_phase
      - frequency
      - notes
      title: ProjectMonitoringRequirement
      type: object
    IsometricIDRequestParam_StorageLocation_:
      example: slc_1F3PMGVC91S0SBK3
      examples:
      - slc_1F3PMGVC91S0SBK3
      - slc_1DCY5K78BSBX3XMZ
      maxLength: 37
      minLength: 20
      type: string
    MonitoringSubmission:
      properties:
        id:
          example: mns_1D46WGW6A1S03FRG
          examples:
          - mns_1D46WGW6A1S03FRG
          - mns_1DCRH1P6JSBX480H
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        notes:
          anyOf:
          - type: string
          - type: 'null'
          title: Notes
        project_monitoring_requirement_id:
          anyOf:
          - example: pfx_1HQTSP3RX1S0Y2RG
            examples:
            - pfx_1HQTSP3RX1S0Y2RG
            - pfx_1FFWQZH4HSBX6F9N
            maxLength: 37
            minLength: 20
            type: string
          - example: mnr_1DJJQY5C61S0R519
            examples:
            - mnr_1DJJQY5C61S0R519
            - mnr_1EKAZQMAZSBXDV59
            maxLength: 37
            minLength: 20
            type: string
          title: Project Monitoring Requirement Id
        source_id:
          example: src_1EBBF4M7X1S06G1Y
          examples:
          - src_1EBBF4M7X1S06G1Y
          - src_1DW1B17VNSBX37N0
          maxLength: 37
          minLength: 20
          title: Source Id
          type: string
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          title: Supplier Reference Id
        valid_from:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Valid From
        valid_to:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Valid To
      required:
      - id
      - project_monitoring_requirement_id
      - source_id
      - valid_from
      - valid_to
      - supplier_reference_id
      - notes
      title: MonitoringSubmission
      type: object
    IsometricIDQueryParam_StorageLocation_:
      $ref: '#/components/schemas/IsometricIDRequestParam_StorageLocation_'
    PaginatedListResource_Project_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Project'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[Project]
      type: object
    CreateMonitoringSubmissionRequest:
      properties:
        notes:
          anyOf:
          - type: string
          - type: 'null'
          description: Any additional notes or comments.
          examples:
          - Pages 14-21
          title: Notes
        source_id:
          description: The Isometric ID of the source that the submission is for.
          example: src_1EBBF4M7X1S06G1Y
          examples:
          - src_1EBBF4M7X1S06G1Y
          - src_1DW1B17VNSBX37N0
          maxLength: 37
          minLength: 20
          title: Source Id
          type: string
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          description: Supplier provided reference ID.
          title: Supplier Reference Id
        valid_from:
          description: Signifies the start of the period that the submission is valid for.
          format: date-time
          title: Valid From
          type: string
        valid_to:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: Signifies the end of the period that the submission is valid for.
          title: Valid To
      required:
      - source_id
      - valid_from
      title: CreateMonitoringSubmissionRequest
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    IsometricIDRequestParam_StorageUnit_:
      example: sgu_1E844FWM71S0E0TM
      examples:
      - sgu_1E844FWM71S0E0TM
      - sgu_1DTBHQEBGSBXBCZV
      maxLength: 37
      minLength: 20
      type: string
    PaginatedListResource_ProjectMonitoringRequirement_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/ProjectMonitoringRequirement'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[ProjectMonitoringRequirement]
      type: object
    PatchStorageLocationRequest:
      properties:
        description:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Description
        latitude:
          anyOf:
          - maximum: 90.0
            minimum: -90.0
            type: number
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Latitude
        longitude:
          anyOf:
          - maximum: 180.0
            minimum: -180.0
            type: number
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Longitude
        name:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Name
        storage_method:
          anyOf:
          - $ref: '#/components/schemas/StorageMethod'
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Storage Method
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Supplier Reference Id
      title: PatchStorageLocationRequest
      type: object
    Undefined:
      additionalProperties: false
      description: An explicit representation of an undefined value in the Isometric REST API. Used, for example, to distinguish between explicit null inputs that clear a property, and not provided inputs which leave the property as is.
      properties:
        __typename:
          const: Undefined
          default: Undefined
          description: Contains the name of the model (formally, OpenAPI Schema Object). Used to determine the type of data, for example when two different types are unioned.
          title: Type name
          type: string
      title: Undefined
      type: object
    StorageLocation:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the storage location
          title: Description
        id:
          example: slc_1F3PMGVC91S0SBK3
          examples:
          - slc_1F3PMGVC91S0SBK3
          - slc_1DCY5K78BSBX3XMZ
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        latitude:
          anyOf:
          - maximum: 90.0
            minimum: -90.0
            type: number
          - type: 'null'
          description: The latitude coordinate of the storage location
          title: Latitude
        longitude:
          anyOf:
          - maximum: 180.0
            minimum: -180.0
            type: number
          - type: 'null'
          description: The longitude coordinate of the storage location
          title: Longitude
        name:
          description: The name of the storage location
          maxLength: 100
          title: Name
          type: string
        project_id:
          description: The ID of the project this storage location belongs to
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        storage_method:
          $ref: '#/components/schemas/StorageMethod'
          description: The method of storage by the storage location
        supplier_id:
          description: The ID of the supplier this storage location belongs to
          example: spl_1CC712KFS1S0YKPS
          examples:
          - spl_1CC712KFS1S0YKPS
          - spl_1FJBMMGR3SBXKDME
          maxLength: 37
          minLength: 20
          title: Supplier Id
          type: string
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          description: Optional supplier-specific reference ID for the storage location
          title: Supplier Reference Id
      required:
      - id
      - name
      - project_id
      - supplier_id
      - storage_method
      title: StorageLocation
      type: object
    IsometricIDRequestParam_Project_:
      example: prj_1CTWZQGKE1S0VAXA
      examples:
      - prj_1CTWZQGKE1S0VAXA
      - prj_1E0QTWB22SBX34D1
      maxLength: 37
      minLength: 20
      type: string
    IsometricIDRequestParam_ProjectRequirement_:
      example: pfx_1HQTSP3RX1S0Y2RG
      examples:
      - pfx_1HQTSP3RX1S0Y2RG
      - pfx_1FFWQZH4HSBX6F9N
      maxLength: 37
      minLength: 20
      type: string
    MonitoringPhase:
      enum:
      - pre_op
      - operation
      - post_op
      - feedstock
      title: MonitoringPhase
      type: string
    IsometricIDPathParam_ProjectRequirement_:
      $ref: '#/components/schemas/IsometricIDRequestParam_ProjectRequirement_'
    RemovalTemplateComponentGroup:
      properties:
        components:
          items:
            $ref: '#/components/schemas/RemovalTemplateComponent'
          title: Components
          type: array
        description:
          title: Description
          type: string
        display_name:
          title: Display Name
          type: string
        id:
          example: rtg_1EGQ9DZXZ1S05S28
          examples:
          - rtg_1EGQ9DZXZ1S05S28
          - rtg_1CWEFDQ7GSBX1X5C
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        key:
          title: Key
          type: string
      required:
      - id
      - key
      - display_name
      - description
      - components
      title: RemovalTemplateComponentGroup
      type: object
    StorageMethod:
      enum:
      - biochar_field
      - biochar_landfill
      - biomass_injection_well
      - biomass_subsurface
      - saline_aquifer
      - in_situ_mineralization
      title: StorageMethod
      type: string
    PaginatedListResource_StorageLocation_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/StorageLocation'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[StorageLocation]
      type: object
    RemovalTemplateComponent:
      properties:
        blueprint_key:
          title: Blueprint Key
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        display_name:
          title: Display Name
          type: string
        id:
          example: rtc_1DAA58EDM1S0AMPN
          examples:
          - rtc_1DAA58EDM1S0AMPN
          - rtc_1CQAKRCVQSBXKKTM
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        inputs:
          description: Inputs for this removal template component based on its component blueprint, including any customized display names and fixed input datapoints.
          items:
            $ref: '#/components/schemas/RemovalTemplateComponentInput'
          title: Inputs
          type: array
        removal_template_component_group_id:
          example: rtg_1EGQ9DZXZ1S05S28
          examples:
          - rtg_1EGQ9DZXZ1S05S28
          - rtg_1CWEFDQ7GSBX1X5C
          maxLength: 37
          minLength: 20
          title: Removal Template Component Group Id
          type: string
        removal_template_id:
          example: rvt_1EVC8RZFE1S0BAT6
          examples:
          - rvt_1EVC8RZFE1S0BAT6
          - rvt_1ECDZGE2DSBX88EX
          maxLength: 37
          minLength: 20
          title: Removal Template Id
          type: string
      required:
      - id
      - display_name
      - description
      - blueprint_key
      - removal_template_id
      - removal_template_component_group_id
      - inputs
      title: RemovalTemplateComponent
      type: object
    IsometricIDPathParam_StorageLocation_:
      $ref: '#/components/schemas/IsometricIDRequestParam_StorageLocation_'
    IsometricIDRequestParam_MonitoringRequirement_:
      example: mnr_1DJJQY5C61S0R519
      examples:
      - mnr_1DJJQY5C61S0R519
      - mnr_1EKAZQMAZSBXDV59
      maxLength: 37
      minLength: 20
      type: string
    IsometricIDPathParam_MonitoringSubmission_:
      $ref: '#/components/schemas/IsometricIDRequestParam_MonitoringSubmission_'
    QuantityKindType:
      enum:
      - acidity
      - activity_concentration
      - amount_of_substance
      - amount_of_substance_concentration
      - amount_of_substance_per_mass
      - area
      - area_carbon_emission_factor
      - buffer_ph
      - bulk_density
      - count
      - currency
      - currency_carbon_emission_factor
      - depth
      - diameter
      - diameter_at_breast_height
      - dimensionless
      - dimensionless_ratio
      - distance
      - distance_carbon_emission_factor
      - dose_equivalent_rate
      - electric_current
      - elevation
      - energy
      - energy_carbon_emission_factor
      - energy_density
      - exchangeable_amount_of_substance_per_mass
      - fuel_economy
      - height
      - ionic_strength
      - latitude
      - longitude
      - mass
      - mass_carbon
      - mass_carbon_emission_factor
      - mass_cdr_potential
      - mass_concentration
      - mass_density
      - mass_distance
      - mass_distance_carbon_emission_factor
      - mass_energy_density
      - mass_flow_rate
      - mass_fraction
      - mass_fraction_dry_basis
      - mass_fraction_wet_basis
      - mass_per_area
      - mass_ratio
      - molality_of_solute
      - molar_mass
      - mole_fraction
      - partial_pressure
      - particle_diameter
      - particle_mass_density
      - power
      - pressure
      - specific_surface_area
      - specific_volume
      - temperature
      - time
      - time_emission_factor
      - voltage
      - volume
      - volume_carbon_emission_factor
      - volume_distance_carbon_emission_factor
      - volume_flow_rate
      - volume_fraction
      - volume_per_area
      title: QuantityKindType
      type: string
    IsometricIDQueryParam_StorageUnit_:
      $ref: '#/components/schemas/IsometricIDRequestParam_StorageUnit_'
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    IsometricIDPathParam_Project_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Project_'
    RemovalTemplateComponentInput:
      properties:
        datapoint_id:
          anyOf:
          - example: dtp_1DVKHKS101S0Q61Q
            examples:
            - dtp_1DVKHKS101S0Q61Q
            - dtp_1DJN8P57VSBXASFX
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          title: Datapoint Id
        display_name:
          title: Display Name
          type: string
        input_key:
          description: The key which identifies an specific input to the component blueprint.
          title: Input Key
          type: string
        quantity_kind:
          $ref: '#/components/schemas/QuantityKindType'
          description: The type of datapoint value that the input requires. Units compatible with this type can be found in the component blueprint library.
        type:
          $ref: '#/components/schemas/ComponentInputType'
      required:
      - input_key
      - datapoint_id
      - display_name
      - type
      - quantity_kind
      title: RemovalTemplateComponentInput
      type: object
    RiskOfReversal:
      enum:
      - no_observable_risk
      - very_low_v2
      - very_low
      - low
      - medium
      - high
      - risk_assessment_driven
      title: RiskOfReversal
      type: string
    Project:
      properties:
        country_code:
          title: Country Code
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        name:
          title: Name
          type: string
        process_key:
          title: Process Key
          type: string
        risk_of_reversal:
          anyOf:
          - $ref: '#/components/schemas/RiskOfReversal'
          - type: 'null'
        short_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Short Description
      required:
      - id
      - name
      - country_code
      - process_key
      - description
      - short_description
      - risk_of_reversal
      title: Project
      type: object
    RemovalTemplate:
      properties:
        display_name:
          title: Display Name
          type: string
        groups:
          items:
            $ref: '#/components/schemas/RemovalTemplateComponentGroup'
          title: Groups
          type: array
        id:
          example: rvt_1EVC8RZFE1S0BAT6
          examples:
          - rvt_1EVC8RZFE1S0BAT6
          - rvt_1ECDZGE2DSBX88EX
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          title: Supplier Reference Id
      required:
      - id
      - supplier_reference_id
      - display_name
      - project_id
      - groups
      title: RemovalTemplate
      type: object
    PaginatedListResource_RemovalTemplate_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/RemovalTemplate'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[RemovalTemplate]
      type: object
    Pathway:
      enum:
      - biomass_carbon_removal_and_storage
      - direct_air_capture
      - enhanced_weathering
      - carbon_mineralization
      - reforestation
      - marine
      - superpollutants
      title: Pathway
      type: string
    Organisation:
      properties:
        domain:
          anyOf:
          - type: string
          - type: 'null'
          examples:
          - isometric.com
          title: Domain
        id:
          example: org_1GB56M1ST1S0GVNA
          examples:
          - org_1GB56M1ST1S0GVNA
          - org_1CP8EQDNQSBXTMR2
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        name:
          examples:
          - Isometric
          title: Name
          type: string
      required:
      - id
      - name
      - domain
      title: Organisation
      type: object
    PaginatedListResource_ProjectDocument_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/ProjectDocument'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[ProjectDocument]
      type: object
    Supplier:
      properties:
        id:
          example: spl_1CC712KFS1S0YKPS
          examples:
          - spl_1CC712KFS1S0YKPS
          - spl_1FJBMMGR3SBXKDME
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        location:
          anyOf:
          - $ref: '#/components/schemas/Location'
          - type: 'null'
        long_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Long Description
        organisation:
          $ref: '#/components/schemas/Organisation'
        short_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Short Description
      required:
      - id
      - short_description
      - long_description
      - organisation
      - location
      title: Supplier
      type: object
    ProjectStatus:
      enum:
      - draft
      - preview
      - under_validation
      - validated
      - validation_unsuccessful
      - cancelled
      title: ProjectStatus
      type: string
    CreditQuantity:
      properties:
        credit_kgs:
          description: A representation of the credit quantity as an integer kilogram amount. Where 1 unit represents 0.001 credits and 1 kilogram of CO₂e. This field can handle bigint values.
          examples:
          - 125632
          title: Credit Kgs
          type: integer
        credits:
          description: A representation of the credit quantity as a fractional amount, to 3 decimal places. Where 1 unit represents 1 credit and 1 ton of CO₂e.
          examples:
          - 125.632
          title: Credits
          type: number
      required:
      - credits
      - credit_kgs
      title: CreditQuantity
      type: object
    ProjectDocument:
      properties:
        display_name:
          title: Display Name
          type: string
        id:
          example: pjd_1ESC3V76T1S0S6J3
          examples:
          - pjd_1ESC3V76T1S0S6J3
          - pjd_1E0AZYQ9ESBX2569
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        url:
          title: Url
          type: string
      required:
      - id
      - display_name
      - project_id
      - url
      title: ProjectDocument
      type: object
    Project_2:
      properties:
        country_code:
          description: A three letter ISO 3166-1 alpha-3 code representing a country
          examples:
          - GBR
          title: Country Code
          type: string
        crediting_period_end:
          anyOf:
          - format: date
            type: string
          - type: 'null'
          title: Crediting Period End
        crediting_period_start:
          anyOf:
          - format: date
            type: string
          - type: 'null'
          title: Crediting Period Start
        current_verifier_name:
          anyOf:
          - type: string
          - type: 'null'
          description: The name of the organization currently responsible for verifying this project, if assigned
          title: Current Verifier Name
        id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        issued_buffer_pool_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
          description: The total number of credits from this project that have been allocated to the supplier's buffer pool
        issued_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
          description: The total number of credits Isometric has issued to this project, including those allocated to the buffer pool
        location:
          anyOf:
          - $ref: '#/components/schemas/Location'
          - type: 'null'
        name:
          title: Name
          type: string
        pathway:
          $ref: '#/components/schemas/Pathway'
          description: The pathway this project is following
          examples:
          - biomass_carbon_removal_and_storage
        process_key:
          description: The carbon removal process used in this project
          title: Process Key
          type: string
        protocol_slug:
          description: The slug of the protocol this project is following
          title: Protocol Slug
          type: string
        retired_buffer_pool_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
          description: The total number of credits from this project that have been retired from the supplier's buffer pool
        retired_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
          description: The total number of credits from this project that have been retired, including those allocated to the buffer pool
        short_code:
          description: A random short code, uniquely identifying the project
          examples:
          - F5X7
          title: Short Code
          type: string
        status:
          $ref: '#/components/schemas/ProjectStatus'
          description: The project status
        supplier:
          $ref: '#/components/schemas/Supplier'
        url:
          description: The url to the Isometric page for this project
          title: Url
          type: string
        validator_name:
          anyOf:
          - type: string
          - type: 'null'
          description: The name of the organization responsible for validating this project, if assigned
          title: Validator Name
      required:
      - id
      - name
      - supplier
      - status
      - short_code
      - url
      - process_key
      - pathway
      - protocol_slug
      - country_code
      - validator_name
      - current_verifier_name
      - crediting_period_start
      - crediting_period_end
      - issued_credits_total
      - retired_credits_total
      - issued_buffer_pool_credits_total
      - retired_buffer_pool_credits_total
      - location
      title: Project
      type: object
    Location:
      properties:
        country_code:
          title: Country Code
          type: string
        country_name:
          title: Country Name
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        latitude:
          maximum: 90
          minimum: -90
          title: Latitude
          type: number
        longitude:
          maximum: 180
          minimum: -180
          title: Longitude
          type: number
      required:
      - country_code
      - country_name
      - latitude
      - longitude
      title: Location
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
x-refined-from:
- isometric-certify-api-openapi.json
- isometric-registry-api-openapi.json
