openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Registry Beneficiary API
  version: v0
servers:
- description: Sandbox Isometric Registry API
  url: https://api.sandbox.isometric.com/registry/v0
- description: Production Isometric Registry API
  url: https://api.isometric.com/registry/v0
tags:
- name: Beneficiary
paths:
  /beneficiary:
    post:
      description: Create a new beneficiary for your organization to retire on behalf of.
      operationId: create_beneficiary_beneficiary_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateOrganizationBeneficiary'
              - $ref: '#/components/schemas/CreateIndividualBeneficiary'
              title: Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Beneficiary
      tags:
      - Beneficiary
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    CreateOrganizationBeneficiary:
      properties:
        __typename:
          const: CreateOrganizationBeneficiary
          default: CreateOrganizationBeneficiary
          description: Contains the name of the model (formally, OpenAPI Schema Object). Used to determine the type of data, for example when two different types are unioned.
          title: Type name
          type: string
        beneficiary_domain:
          description: Unique organization domain name for corporate beneficiaries. The domain is not displayed on the registry.
          examples:
          - acme.com
          maxLength: 256
          title: Beneficiary Domain
          type: string
        beneficiary_name:
          description: A publicly visible name shown on the retirement certificate and registry
          examples:
          - Acme Corporation
          maxLength: 256
          title: Beneficiary Name
          type: string
      required:
      - beneficiary_name
      - beneficiary_domain
      title: CreateOrganizationBeneficiary
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    CreateIndividualBeneficiary:
      properties:
        __typename:
          const: CreateIndividualBeneficiary
          default: CreateIndividualBeneficiary
          description: Contains the name of the model (formally, OpenAPI Schema Object). Used to determine the type of data, for example when two different types are unioned.
          title: Type name
          type: string
        beneficiary_email:
          description: Unique email address for individual beneficiaries. The email is not displayed on the registry.
          examples:
          - john.smith@example.com
          format: email
          title: Beneficiary Email
          type: string
        beneficiary_name:
          description: A publicly visible name shown on the retirement certificate and registry
          examples:
          - John Smith
          maxLength: 256
          title: Beneficiary Name
          type: string
      required:
      - beneficiary_name
      - beneficiary_email
      title: CreateIndividualBeneficiary
      type: object
    Organisation:
      properties:
        domain:
          anyOf:
          - type: string
          - type: 'null'
          examples:
          - isometric.com
          title: Domain
        id:
          example: org_1GB56M1ST1S0GVNA
          examples:
          - org_1GB56M1ST1S0GVNA
          - org_1CP8EQDNQSBXTMR2
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        name:
          examples:
          - Isometric
          title: Name
          type: string
      required:
      - id
      - name
      - domain
      title: Organisation
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
