openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Certify Data Ingestion Storage Units API
  version: v0
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
tags:
- name: Storage Units
paths:
  /storage_units:
    get:
      description: Gets all storage units.
      operationId: get_storage_units_storage_units_get
      parameters:
      - in: query
        name: storage_location_id
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IsometricIDQueryParam_StorageLocation_'
          - type: 'null'
          title: Storage Location Id
      - in: query
        name: supplier_reference_id
        required: false
        schema:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          title: Supplier Reference Id
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_StorageUnit_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Storage Units
      tags:
      - Storage Units
    post:
      description: Creates a storage unit in the Isometric system.
      operationId: post_storage_unit_storage_units_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStorageUnitRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageUnit'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Storage Unit
      tags:
      - Storage Units
  /storage_units/{id}:
    get:
      description: Gets storage unit by ID.
      operationId: get_storage_unit_storage_units__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_StorageUnit_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageUnit'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Storage Unit
      tags:
      - Storage Units
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    IsometricIDRequestParam_StorageUnit_:
      example: sgu_1E844FWM71S0E0TM
      examples:
      - sgu_1E844FWM71S0E0TM
      - sgu_1DTBHQEBGSBXBCZV
      maxLength: 37
      minLength: 20
      type: string
    Undefined:
      additionalProperties: false
      description: An explicit representation of an undefined value in the Isometric REST API. Used, for example, to distinguish between explicit null inputs that clear a property, and not provided inputs which leave the property as is.
      properties:
        __typename:
          const: Undefined
          default: Undefined
          description: Contains the name of the model (formally, OpenAPI Schema Object). Used to determine the type of data, for example when two different types are unioned.
          title: Type name
          type: string
      title: Undefined
      type: object
    IsometricIDPathParam_StorageUnit_:
      $ref: '#/components/schemas/IsometricIDRequestParam_StorageUnit_'
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    IsometricIDRequestParam_StorageLocation_:
      example: slc_1F3PMGVC91S0SBK3
      examples:
      - slc_1F3PMGVC91S0SBK3
      - slc_1DCY5K78BSBX3XMZ
      maxLength: 37
      minLength: 20
      type: string
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    StorageUnit:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the storage unit
          title: Description
        id:
          example: sgu_1E844FWM71S0E0TM
          examples:
          - sgu_1E844FWM71S0E0TM
          - sgu_1DTBHQEBGSBXBCZV
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        latitude:
          anyOf:
          - maximum: 90.0
            minimum: -90.0
            type: number
          - type: 'null'
          description: The latitude coordinate of the storage unit
          title: Latitude
        longitude:
          anyOf:
          - maximum: 180.0
            minimum: -180.0
            type: number
          - type: 'null'
          description: The longitude coordinate of the storage unit
          title: Longitude
        name:
          description: The name of the storage unit
          maxLength: 100
          title: Name
          type: string
        storage_location_id:
          description: The ID of the storage location this storage unit belongs to
          example: slc_1F3PMGVC91S0SBK3
          examples:
          - slc_1F3PMGVC91S0SBK3
          - slc_1DCY5K78BSBX3XMZ
          maxLength: 37
          minLength: 20
          title: Storage Location Id
          type: string
        supplier_id:
          description: The ID of the supplier this storage location belongs to
          example: spl_1CC712KFS1S0YKPS
          examples:
          - spl_1CC712KFS1S0YKPS
          - spl_1FJBMMGR3SBXKDME
          maxLength: 37
          minLength: 20
          title: Supplier Id
          type: string
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          description: Optional supplier-specific reference ID for the storage location
          title: Supplier Reference Id
      required:
      - id
      - name
      - storage_location_id
      - supplier_id
      title: StorageUnit
      type: object
    PaginatedListResource_StorageUnit_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/StorageUnit'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[StorageUnit]
      type: object
    CreateStorageUnitRequest:
      properties:
        description:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Description
        latitude:
          maximum: 90.0
          minimum: -90.0
          title: Latitude
          type: number
        longitude:
          maximum: 180.0
          minimum: -180.0
          title: Longitude
          type: number
        name:
          title: Name
          type: string
        storage_location_id:
          example: slc_1F3PMGVC91S0SBK3
          examples:
          - slc_1F3PMGVC91S0SBK3
          - slc_1DCY5K78BSBX3XMZ
          maxLength: 37
          minLength: 20
          title: Storage Location Id
          type: string
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - $ref: '#/components/schemas/Undefined'
          default:
            __typename: Undefined
          title: Supplier Reference Id
      required:
      - storage_location_id
      - name
      - latitude
      - longitude
      title: CreateStorageUnitRequest
      type: object
    IsometricIDQueryParam_StorageLocation_:
      $ref: '#/components/schemas/IsometricIDRequestParam_StorageLocation_'
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
