openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Registry Suppliers API
  version: v0
servers:
- description: Sandbox Isometric Registry API
  url: https://api.sandbox.isometric.com/registry/v0
- description: Production Isometric Registry API
  url: https://api.isometric.com/registry/v0
tags:
- name: Suppliers
paths:
  /suppliers:
    get:
      description: Information about a specific supplier.
      operationId: suppliers_suppliers_get
      parameters:
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_Supplier_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Suppliers
      tags:
      - Suppliers
  /suppliers/{id}:
    get:
      description: 'The organisation currently authenticated.


        Use this endpoint to get your organisation_id.'
      operationId: supplier_suppliers__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Supplier_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Supplier'
                - type: 'null'
                title: Response Supplier Suppliers  Id  Get
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Supplier
      tags:
      - Suppliers
  /suppliers/{id}/deliveries:
    get:
      description: 'List of deliveries for a given supplier.


        Deliveries are sorted by most recently delivered first.'
      operationId: supplier_deliveries_suppliers__id__deliveries_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Supplier_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_Delivery_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Supplier Deliveries
      tags:
      - Suppliers
  /suppliers/{id}/issuances:
    get:
      description: 'List of issuances for a given supplier.


        Issuances are sorted by most recently created first.'
      operationId: supplier_issuances_suppliers__id__issuances_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Supplier_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_Issuance_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Supplier Issuances
      tags:
      - Suppliers
  /suppliers/{id}/orders:
    get:
      description: 'List of orders for a given supplier.


        Orders are sorted by most recently placed first.'
      operationId: supplier_orders_suppliers__id__orders_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Supplier_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_Order_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Supplier Orders
      tags:
      - Suppliers
  /suppliers/{id}/projects:
    get:
      description: 'List of projects for a given supplier.


        Projects are sorted by most recently created first.'
      operationId: supplier_projects_suppliers__id__projects_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_Supplier_'
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_Project_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Supplier Projects
      tags:
      - Suppliers
components:
  schemas:
    PaginatedListResource_Supplier_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Supplier'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[Supplier]
      type: object
    Delivery:
      properties:
        credit_batch_size_total:
          $ref: '#/components/schemas/CreditQuantity'
        delivered_at:
          format: date-time
          title: Delivered At
          type: string
        from_supplier:
          $ref: '#/components/schemas/Supplier'
        id:
          example: dlv_1C454ZXA61S03Z9T
          examples:
          - dlv_1C454ZXA61S03Z9T
          - dlv_1FAGG2H2PSBXHGYY
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        notes:
          anyOf:
          - maxLength: 256
            type: string
          - type: 'null'
          description: A publicly visible note stored with the credit delivery.
          examples:
          - Delivered with care.
          title: Notes
        order_id:
          example: ord_1FAN3S3WV1S0B842
          examples:
          - ord_1FAN3S3WV1S0B842
          - ord_1DBVRQDHBSBXWBWP
          maxLength: 37
          minLength: 20
          title: Order Id
          type: string
        to_organisation:
          $ref: '#/components/schemas/Organisation'
        url:
          title: Url
          type: string
      required:
      - id
      - delivered_at
      - order_id
      - from_supplier
      - to_organisation
      - credit_batch_size_total
      - url
      - notes
      title: Delivery
      type: object
    IsometricIDRequestParam_Supplier_:
      example: spl_1CC712KFS1S0YKPS
      examples:
      - spl_1CC712KFS1S0YKPS
      - spl_1FJBMMGR3SBXKDME
      maxLength: 37
      minLength: 20
      type: string
    Location:
      properties:
        country_code:
          title: Country Code
          type: string
        country_name:
          title: Country Name
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        latitude:
          maximum: 90
          minimum: -90
          title: Latitude
          type: number
        longitude:
          maximum: 180
          minimum: -180
          title: Longitude
          type: number
      required:
      - country_code
      - country_name
      - latitude
      - longitude
      title: Location
      type: object
    PaginatedListResource_Issuance_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Issuance'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[Issuance]
      type: object
    PaginatedListResource_Order_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Order'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[Order]
      type: object
    Pathway:
      enum:
      - biomass_carbon_removal_and_storage
      - direct_air_capture
      - enhanced_weathering
      - carbon_mineralization
      - reforestation
      - marine
      - superpollutants
      title: Pathway
      type: string
    OrderStatus:
      enum:
      - placed
      - in_progress
      - completed
      title: OrderStatus
      type: string
    Organisation:
      properties:
        domain:
          anyOf:
          - type: string
          - type: 'null'
          examples:
          - isometric.com
          title: Domain
        id:
          example: org_1GB56M1ST1S0GVNA
          examples:
          - org_1GB56M1ST1S0GVNA
          - org_1CP8EQDNQSBXTMR2
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        name:
          examples:
          - Isometric
          title: Name
          type: string
      required:
      - id
      - name
      - domain
      title: Organisation
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    IsometricIDPathParam_Supplier_:
      $ref: '#/components/schemas/IsometricIDRequestParam_Supplier_'
    Supplier:
      properties:
        id:
          example: spl_1CC712KFS1S0YKPS
          examples:
          - spl_1CC712KFS1S0YKPS
          - spl_1FJBMMGR3SBXKDME
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        location:
          anyOf:
          - $ref: '#/components/schemas/Location'
          - type: 'null'
        long_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Long Description
        organisation:
          $ref: '#/components/schemas/Organisation'
        short_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Short Description
      required:
      - id
      - short_description
      - long_description
      - organisation
      - location
      title: Supplier
      type: object
    PaginatedListResource_Delivery_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Delivery'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[Delivery]
      type: object
    ProjectStatus:
      enum:
      - draft
      - preview
      - under_validation
      - validated
      - validation_unsuccessful
      - cancelled
      title: ProjectStatus
      type: string
    CreditQuantity:
      properties:
        credit_kgs:
          description: A representation of the credit quantity as an integer kilogram amount. Where 1 unit represents 0.001 credits and 1 kilogram of CO₂e. This field can handle bigint values.
          examples:
          - 125632
          title: Credit Kgs
          type: integer
        credits:
          description: A representation of the credit quantity as a fractional amount, to 3 decimal places. Where 1 unit represents 1 credit and 1 ton of CO₂e.
          examples:
          - 125.632
          title: Credits
          type: number
      required:
      - credits
      - credit_kgs
      title: CreditQuantity
      type: object
    Order:
      properties:
        buyer_organisation:
          $ref: '#/components/schemas/Organisation'
        credits_delivered:
          $ref: '#/components/schemas/CreditQuantity'
        credits_ordered:
          $ref: '#/components/schemas/CreditQuantity'
        effective_contract_date:
          format: date
          title: Effective Contract Date
          type: string
        fulfilled_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Fulfilled At
        id:
          example: ord_1FAN3S3WV1S0B842
          examples:
          - ord_1FAN3S3WV1S0B842
          - ord_1DBVRQDHBSBXWBWP
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        supplier:
          $ref: '#/components/schemas/Supplier'
      required:
      - id
      - effective_contract_date
      - fulfilled_at
      - buyer_organisation
      - supplier
      - status
      - credits_ordered
      - credits_delivered
      title: Order
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    Project:
      properties:
        country_code:
          description: A three letter ISO 3166-1 alpha-3 code representing a country
          examples:
          - GBR
          title: Country Code
          type: string
        crediting_period_end:
          anyOf:
          - format: date
            type: string
          - type: 'null'
          title: Crediting Period End
        crediting_period_start:
          anyOf:
          - format: date
            type: string
          - type: 'null'
          title: Crediting Period Start
        current_verifier_name:
          anyOf:
          - type: string
          - type: 'null'
          description: The name of the organization currently responsible for verifying this project, if assigned
          title: Current Verifier Name
        id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        issued_buffer_pool_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
          description: The total number of credits from this project that have been allocated to the supplier's buffer pool
        issued_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
          description: The total number of credits Isometric has issued to this project, including those allocated to the buffer pool
        location:
          anyOf:
          - $ref: '#/components/schemas/Location'
          - type: 'null'
        name:
          title: Name
          type: string
        pathway:
          $ref: '#/components/schemas/Pathway'
          description: The pathway this project is following
          examples:
          - biomass_carbon_removal_and_storage
        process_key:
          description: The carbon removal process used in this project
          title: Process Key
          type: string
        protocol_slug:
          description: The slug of the protocol this project is following
          title: Protocol Slug
          type: string
        retired_buffer_pool_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
          description: The total number of credits from this project that have been retired from the supplier's buffer pool
        retired_credits_total:
          $ref: '#/components/schemas/CreditQuantity'
          description: The total number of credits from this project that have been retired, including those allocated to the buffer pool
        short_code:
          description: A random short code, uniquely identifying the project
          examples:
          - F5X7
          title: Short Code
          type: string
        status:
          $ref: '#/components/schemas/ProjectStatus'
          description: The project status
        supplier:
          $ref: '#/components/schemas/Supplier'
        url:
          description: The url to the Isometric page for this project
          title: Url
          type: string
        validator_name:
          anyOf:
          - type: string
          - type: 'null'
          description: The name of the organization responsible for validating this project, if assigned
          title: Validator Name
      required:
      - id
      - name
      - supplier
      - status
      - short_code
      - url
      - process_key
      - pathway
      - protocol_slug
      - country_code
      - validator_name
      - current_verifier_name
      - crediting_period_start
      - crediting_period_end
      - issued_credits_total
      - retired_credits_total
      - issued_buffer_pool_credits_total
      - retired_buffer_pool_credits_total
      - location
      title: Project
      type: object
    PaginatedListResource_Project_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Project'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[Project]
      type: object
    Issuance:
      properties:
        buffer_pool_credit_batch_size_total:
          $ref: '#/components/schemas/CreditQuantity'
        credit_batch_size_total:
          $ref: '#/components/schemas/CreditQuantity'
        id:
          example: iss_1EWT8R5FY1S0GFCY
          examples:
          - iss_1EWT8R5FY1S0GFCY
          - iss_1CSVDDHH3SBXRP6K
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        issued_at:
          format: date-time
          title: Issued At
          type: string
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        reporting_period_end_at:
          description: End date of the reporting period (inclusive)
          format: date
          title: Reporting Period End At
          type: string
        reporting_period_start_at:
          description: Start date of the reporting period (inclusive)
          format: date
          title: Reporting Period Start At
          type: string
        supplier:
          $ref: '#/components/schemas/Supplier'
        supplier_credit_batch_size_total:
          $ref: '#/components/schemas/CreditQuantity'
      required:
      - id
      - issued_at
      - supplier
      - project_id
      - reporting_period_start_at
      - reporting_period_end_at
      - supplier_credit_batch_size_total
      - buffer_pool_credit_batch_size_total
      - credit_batch_size_total
      title: Issuance
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
