openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Certify Data Ingestion Ghg Statements API
  version: v0
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
tags:
- name: Ghg Statements
paths:
  /ghg_statements:
    get:
      description: Lists GHG statements in the Isometric system
      operationId: get_ghg_statements_ghg_statements_get
      parameters:
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_GhgStatement_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Ghg Statements
      tags:
      - Ghg Statements
    post:
      description: Submits a series of removals for verification
      operationId: post_ghg_statement_ghg_statements_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGhgStatementRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GhgStatement'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Ghg Statement
      tags:
      - Ghg Statements
  /ghg_statements/{id}:
    get:
      description: Get a single GHG statement
      operationId: get_ghg_statement_ghg_statements__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_GhgStatement_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GhgStatement'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Ghg Statement
      tags:
      - Ghg Statements
  /ghg_statements/{id}/submit:
    post:
      operationId: post_ghg_statement_submit_ghg_statements__id__submit_post
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_GhgStatement_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/SubmitGhgStatementRequest'
              - $ref: '#/components/schemas/ResubmitGhgStatementRequest'
              title: Ghg Statement Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GhgStatement'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Ghg Statement Submit
      tags:
      - Ghg Statements
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    CreateGhgStatementRequest:
      properties:
        end_on:
          description: The inclusive end date of the GHG Statement
          format: date
          title: End On
          type: string
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
      required:
      - end_on
      - project_id
      title: CreateGhgStatementRequest
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    GhgStatement:
      properties:
        credits_issued_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Credits Issued At
        ghg_statement_report_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Ghg Statement Report Url
        id:
          example: ggs_1GDQJ99Z51S0DYW9
          examples:
          - ggs_1GDQJ99Z51S0DYW9
          - ggs_1FWVEQRWSSBXK3NB
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        pending_total_co2e_removed_kg:
          anyOf:
          - type: number
          - type: 'null'
          description: If the GHG statement has pending changes, this is the net CO₂e removed by the removals in the GHG statement, including any changes that are pending. If the GHG statement has no pending changes, this is None.
          title: Pending Total Co2E Removed Kg
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        removal_ids:
          items:
            example: rmv_1EEM6NJXX1S0EXKD
            examples:
            - rmv_1EEM6NJXX1S0EXKD
            - rmv_1E3V4J2EWSBX5E82
            maxLength: 37
            minLength: 20
            type: string
          title: Removal Ids
          type: array
        reporting_period_end_at:
          description: End date of the reporting period (inclusive)
          format: date
          title: Reporting Period End At
          type: string
        reporting_period_start_at:
          description: Start date of the reporting period (inclusive)
          format: date
          title: Reporting Period Start At
          type: string
        status:
          $ref: '#/components/schemas/GhgStatementStatus'
        submitted_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          title: Submitted At
        verifier:
          anyOf:
          - type: string
          - type: 'null'
          description: Name of the verifier of the GHG statement
          title: Verifier
      required:
      - id
      - project_id
      - verifier
      - removal_ids
      - ghg_statement_report_url
      - status
      - reporting_period_start_at
      - reporting_period_end_at
      - submitted_at
      - credits_issued_at
      - pending_total_co2e_removed_kg
      title: GhgStatement
      type: object
    PaginatedListResource_GhgStatement_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/GhgStatement'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[GhgStatement]
      type: object
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    IsometricIDPathParam_GhgStatement_:
      $ref: '#/components/schemas/IsometricIDRequestParam_GhgStatement_'
    SubmitGhgStatementRequest:
      properties:
        ghg_statement_report_url:
          description: The URL of the GHG statement report. This should be accessible to the verifier.
          title: Ghg Statement Report Url
          type: string
      required:
      - ghg_statement_report_url
      title: SubmitGhgStatementRequest
      type: object
    ResubmitGhgStatementRequest:
      properties:
        ghg_statement_report_url:
          description: The URL of the GHG statement report. This should be accessible to the verifier.
          title: Ghg Statement Report Url
          type: string
        summary_of_changes:
          description: A high-level summary of what's changed since the previous submission of this GHG statement.
          title: Summary Of Changes
          type: string
      required:
      - ghg_statement_report_url
      - summary_of_changes
      title: ResubmitGhgStatementRequest
      type: object
    GhgStatementStatus:
      enum:
      - DRAFT
      - AWAITING_VERIFICATION
      - VERIFIED
      - CREDITS_ISSUED
      - FAILED_VERIFICATION
      title: GhgStatementStatus
      type: string
    IsometricIDRequestParam_GhgStatement_:
      example: ggs_1GDQJ99Z51S0DYW9
      examples:
      - ggs_1GDQJ99Z51S0DYW9
      - ggs_1FWVEQRWSSBXK3NB
      maxLength: 37
      minLength: 20
      type: string
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
