openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Certify Data Ingestion Biochar Applications API
  version: v0
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
tags:
- name: Biochar Applications
paths:
  /biochar_applications:
    get:
      description: Lists biochar applications in the Isometric system.
      operationId: get_biochar_applications_biochar_applications_get
      parameters:
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_BiocharApplication_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Biochar Applications
      tags:
      - Biochar Applications
    post:
      description: Creates a biochar application in the Isometric system
      operationId: post_biochar_application_biochar_applications_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBiocharApplicationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiocharApplication'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Biochar Application
      tags:
      - Biochar Applications
  /biochar_applications/{id}:
    delete:
      description: Deletes a biochar application in the Isometric system
      operationId: delete_biochar_application_biochar_applications__id__delete
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_BiocharSpreadEvent_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Biochar Application
      tags:
      - Biochar Applications
    get:
      description: Get a single biochar application in the Isometric system
      operationId: get_biochar_application_biochar_applications__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_BiocharSpreadEvent_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiocharApplication'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Biochar Application
      tags:
      - Biochar Applications
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    IsometricIDPathParam_BiocharSpreadEvent_:
      $ref: '#/components/schemas/IsometricIDRequestParam_BiocharSpreadEvent_'
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    PaginatedListResource_BiocharApplication_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/BiocharApplication'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[BiocharApplication]
      type: object
    BiocharApplication:
      properties:
        application_date:
          format: date
          title: Application Date
          type: string
        average_application_rate:
          $ref: '#/components/schemas/ScalarQuantity'
        id:
          example: bse_1F1FDSGPE1S0374B
          examples:
          - bse_1F1FDSGPE1S0374B
          - bse_1DGG1R6DZSBXACD8
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        production_batch_id:
          example: ptb_1GAFJ4C051S06E0Z
          examples:
          - ptb_1GAFJ4C051S06E0Z
          - ptb_1FQVMJYTASBXSZT8
          maxLength: 37
          minLength: 20
          title: Production Batch Id
          type: string
        removal_id:
          anyOf:
          - example: rmv_1EEM6NJXX1S0EXKD
            examples:
            - rmv_1EEM6NJXX1S0EXKD
            - rmv_1E3V4J2EWSBX5E82
            maxLength: 37
            minLength: 20
            type: string
          - type: 'null'
          title: Removal Id
        storage_location_id:
          example: slc_1F3PMGVC91S0SBK3
          examples:
          - slc_1F3PMGVC91S0SBK3
          - slc_1DCY5K78BSBX3XMZ
          maxLength: 37
          minLength: 20
          title: Storage Location Id
          type: string
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          title: Supplier Reference Id
        truck_mass_on_arrival:
          $ref: '#/components/schemas/ScalarQuantity'
        truck_mass_on_departure:
          $ref: '#/components/schemas/ScalarQuantity'
        uploaded_at:
          format: date-time
          title: Uploaded At
          type: string
      required:
      - id
      - storage_location_id
      - production_batch_id
      - removal_id
      - supplier_reference_id
      - application_date
      - uploaded_at
      - truck_mass_on_arrival
      - truck_mass_on_departure
      - average_application_rate
      title: BiocharApplication
      type: object
    IsometricIDRequestParam_BiocharSpreadEvent_:
      example: bse_1F1FDSGPE1S0374B
      examples:
      - bse_1F1FDSGPE1S0374B
      - bse_1DGG1R6DZSBXACD8
      maxLength: 37
      minLength: 20
      type: string
    CreateBiocharApplicationRequest:
      properties:
        application_date:
          description: Date in ISO format (YYYY-MM-DD)
          format: date
          title: Application Date
          type: string
        average_application_rate:
          $ref: '#/components/schemas/ScalarQuantity'
        production_batch_id:
          example: ptb_1GAFJ4C051S06E0Z
          examples:
          - ptb_1GAFJ4C051S06E0Z
          - ptb_1FQVMJYTASBXSZT8
          maxLength: 37
          minLength: 20
          title: Production Batch Id
          type: string
        project_id:
          example: prj_1CTWZQGKE1S0VAXA
          examples:
          - prj_1CTWZQGKE1S0VAXA
          - prj_1E0QTWB22SBX34D1
          maxLength: 37
          minLength: 20
          title: Project Id
          type: string
        source_ids:
          default: []
          items:
            example: src_1EBBF4M7X1S06G1Y
            examples:
            - src_1EBBF4M7X1S06G1Y
            - src_1DW1B17VNSBX37N0
            maxLength: 37
            minLength: 20
            type: string
          title: Source Ids
          type: array
        storage_site_id:
          example: slc_1F3PMGVC91S0SBK3
          examples:
          - slc_1F3PMGVC91S0SBK3
          - slc_1DCY5K78BSBX3XMZ
          maxLength: 37
          minLength: 20
          title: Storage Site Id
          type: string
        supplier_reference_id:
          description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
          maxLength: 100
          minLength: 1
          title: Supplier Reference Id
          type: string
        truck_mass_on_arrival:
          $ref: '#/components/schemas/ScalarQuantity'
        truck_mass_on_departure:
          $ref: '#/components/schemas/ScalarQuantity'
      required:
      - project_id
      - storage_site_id
      - production_batch_id
      - average_application_rate
      - application_date
      - truck_mass_on_arrival
      - truck_mass_on_departure
      - supplier_reference_id
      title: CreateBiocharApplicationRequest
      type: object
    ScalarQuantity:
      properties:
        magnitude:
          title: Magnitude
          type: number
        standard_deviation:
          anyOf:
          - type: number
          - type: 'null'
          title: Standard Deviation
        unit:
          minLength: 1
          title: Unit
          type: string
      required:
      - magnitude
      - unit
      title: ScalarQuantity
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
