openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Registry Stripe API
  version: v0
servers:
- description: Sandbox Isometric Registry API
  url: https://api.sandbox.isometric.com/registry/v0
- description: Production Isometric Registry API
  url: https://api.isometric.com/registry/v0
tags:
- name: Stripe
paths:
  /stripe/checkout:
    post:
      description: 'Create a Stripe Checkout Session for purchasing credits with Isometric verification.

        This endpoint returns a Stripe Checkout URL to redirect the user to for completing the payment.'
      operationId: create_stripe_checkout_session_stripe_checkout_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStripeCheckoutSessionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeCheckoutResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Stripe Checkout Session
      tags:
      - Stripe
  /stripe/configuration:
    get:
      description: 'Get Stripe configuration for the current organisation.

        This will return 404 if the current organisation is not set up for Stripe Connect.'
      operationId: get_stripe_configuration_stripe_configuration_get
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierStripeConfiguration'
          description: Successful Response
        '404':
          description: Supplier not set up for Stripe Connect
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Stripe Configuration
      tags:
      - Stripe
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    SupplierStripeConfiguration:
      properties:
        account_id:
          description: Stripe account ID of the supplier's connected account
          title: Account Id
          type: string
        credit_product_price_per_tonne:
          anyOf:
          - pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
            type: string
          - type: 'null'
          description: Price per tonne for carbon dioxide removal; set by the supplier. See `currency` field for the currency.
          title: Credit Product Price Per Tonne
        currency:
          anyOf:
          - type: string
          - type: 'null'
          description: Currency used for this account (ISO 4217 code)
          title: Currency
        id:
          example: ssc_1EFF4PWKE1S0TF1S
          examples:
          - ssc_1EFF4PWKE1S0TF1S
          - ssc_1FH1888QSSBXWB18
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        isometric_terms_and_conditions_url:
          description: URL to the Isometric terms and conditions
          title: Isometric Terms And Conditions Url
          type: string
        verification_product_price_per_tonne:
          anyOf:
          - pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
            type: string
          - type: 'null'
          description: Price per tonne for verification; set by Isometric. See `currency` field for the currency.
          title: Verification Product Price Per Tonne
      required:
      - id
      - account_id
      - credit_product_price_per_tonne
      - verification_product_price_per_tonne
      - currency
      - isometric_terms_and_conditions_url
      title: SupplierStripeConfiguration
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    CreateStripeCheckoutSessionRequest:
      properties:
        cancel_url:
          description: The URL to redirect customer to after a cancelled or failed payment
          examples:
          - https://example.com/cancel
          title: Cancel Url
          type: string
        customer_email:
          anyOf:
          - type: string
          - type: 'null'
          description: The email of the customer to prefill the checkout session with. If not provided, the customer will be prompted to enter their email during checkout.
          examples:
          - test@example.com
          title: Customer Email
        frequency:
          $ref: '#/components/schemas/StripeSubscriptionFrequency'
          description: The frequency of the subscription
          examples:
          - monthly
        isometric_terms_and_conditions_accepted:
          description: Whether the user has accepted the Isometric terms and conditions; the request will fail if this is not set to true
          examples:
          - true
          title: Isometric Terms And Conditions Accepted
          type: boolean
        quantity_kg:
          description: The quantity of credits to purchase, in kilograms. This field can handle bigint values.
          examples:
          - 1000
          title: Quantity Kg
          type: integer
        success_url:
          description: The URL to redirect customer to after a successful payment
          examples:
          - https://example.com/success
          title: Success Url
          type: string
        supplier_terms_and_conditions_accepted:
          description: Whether the user has accepted the supplier terms and conditions; the request will fail if this is not set to true
          examples:
          - true
          title: Supplier Terms And Conditions Accepted
          type: boolean
      required:
      - quantity_kg
      - frequency
      - isometric_terms_and_conditions_accepted
      - supplier_terms_and_conditions_accepted
      - success_url
      - cancel_url
      title: CreateStripeCheckoutSessionRequest
      type: object
    StripeSubscriptionFrequency:
      enum:
      - one_time
      - monthly
      - yearly
      title: StripeSubscriptionFrequency
      type: string
    StripeCheckoutResponse:
      properties:
        redirect_url:
          title: Redirect Url
          type: string
      required:
      - redirect_url
      title: StripeCheckoutResponse
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
