openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Certify Data Ingestion Component Blueprints API
  version: v0
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
tags:
- name: Component Blueprints
paths:
  /component_blueprints:
    get:
      description: Lists component blueprints in the Isometric system
      operationId: get_component_blueprints_component_blueprints_get
      parameters:
      - in: query
        name: last
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve before the item represented by the cursor passed in the before parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: Last
          type: integer
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the first item in the previously requested page to select items ordered before it. Submit the previously requested page’s start_cursor here when paginated backwards.
          title: Before
      - in: query
        name: first
        required: false
        schema:
          default: 10
          description: An integer number of items to retrieve after the item represented by the cursor passed in the after parameter. Defaults to 10 with a maximum value of 50.
          exclusiveMinimum: 0
          maximum: 50
          title: First
          type: integer
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: An opaque cursor representing the last item in the previously requested page to select items ordered after it. Submit the previously requested page’s end_cursor here when paginated forwards.
          title: After
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListResource_ComponentBlueprint_'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Component Blueprints
      tags:
      - Component Blueprints
  /component_blueprints/{key}:
    get:
      operationId: get_component_blueprint_component_blueprints__key__get
      parameters:
      - in: path
        name: key
        required: true
        schema:
          title: Key
          type: string
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentBlueprint'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Component Blueprint
      tags:
      - Component Blueprints
components:
  schemas:
    ComponentBlueprint:
      properties:
        description:
          title: Description
          type: string
        display_name:
          title: Display Name
          type: string
        expressions:
          description: This field is exposed purely for documentation purposes. It shows how the inputs are processed to arrive at the component's output value.
          items:
            $ref: '#/components/schemas/ComponentBlueprintExpression'
          title: Expressions
          type: array
        inputs:
          description: List of inputs to the component blueprint. It documents what datapoints need to be provided when instantiating a component from it.
          items:
            $ref: '#/components/schemas/ComponentBlueprintInput'
          title: Inputs
          type: array
        key:
          title: Key
          type: string
        type:
          $ref: '#/components/schemas/ComponentType'
      required:
      - key
      - display_name
      - description
      - type
      - inputs
      - expressions
      title: ComponentBlueprint
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ComponentBlueprintExpressionInput:
      properties:
        data_shape:
          $ref: '#/components/schemas/InputDataShape'
          description: Whether the input is a list of datapoints or just a single datapoint
        input_key:
          description: Input identifier within other resources of the component. Depending on the type, it will match an input datapoint or another expression, unless it represents a fixed 0 tCO₂e value.
          title: Input Key
          type: string
        template_key:
          description: Input identifier within the template string. It will match a template variable wrapped in `{` & `}`.
          title: Template Key
          type: string
        type:
          $ref: '#/components/schemas/ComponentBlueprintExpressionInputType'
          description: Type of resource pointed at by the input.
      required:
      - template_key
      - input_key
      - type
      - data_shape
      title: ComponentBlueprintExpressionInput
      type: object
    PaginatedListResource_ComponentBlueprint_:
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/ComponentBlueprint'
          title: Nodes
          type: array
        page_info:
          $ref: '#/components/schemas/PageInfo'
        total_count:
          title: Total Count
          type: integer
      required:
      - nodes
      - total_count
      - page_info
      title: PaginatedListResource[ComponentBlueprint]
      type: object
    ComponentBlueprintInput:
      properties:
        compatible_unit:
          description: An example unit for this blueprint input. The unit provided when creating a component from this blueprint can be different, but must be able to be converted to this unit.
          title: Compatible Unit
          type: string
        data_shape:
          $ref: '#/components/schemas/InputDataShape'
          description: Whether the input is a list of datapoints
        description:
          description: Description of the input variable
          title: Description
          type: string
        input_key:
          description: When instantiating a component from this blueprint, one of input datapoints must match this key.
          title: Input Key
          type: string
        quantity_kind:
          $ref: '#/components/schemas/QuantityKindType'
          description: The type of datapoint value that the input requires. Units compatible with this type can be found in the component blueprint library.
      required:
      - input_key
      - description
      - data_shape
      - quantity_kind
      - compatible_unit
      title: ComponentBlueprintInput
      type: object
    QuantityKindType:
      enum:
      - acidity
      - activity_concentration
      - amount_of_substance
      - amount_of_substance_concentration
      - amount_of_substance_per_mass
      - area
      - area_carbon_emission_factor
      - buffer_ph
      - bulk_density
      - count
      - currency
      - currency_carbon_emission_factor
      - depth
      - diameter
      - diameter_at_breast_height
      - dimensionless
      - dimensionless_ratio
      - distance
      - distance_carbon_emission_factor
      - dose_equivalent_rate
      - electric_current
      - elevation
      - energy
      - energy_carbon_emission_factor
      - energy_density
      - exchangeable_amount_of_substance_per_mass
      - fuel_economy
      - height
      - ionic_strength
      - latitude
      - longitude
      - mass
      - mass_carbon
      - mass_carbon_emission_factor
      - mass_cdr_potential
      - mass_concentration
      - mass_density
      - mass_distance
      - mass_distance_carbon_emission_factor
      - mass_energy_density
      - mass_flow_rate
      - mass_fraction
      - mass_fraction_dry_basis
      - mass_fraction_wet_basis
      - mass_per_area
      - mass_ratio
      - molality_of_solute
      - molar_mass
      - mole_fraction
      - partial_pressure
      - particle_diameter
      - particle_mass_density
      - power
      - pressure
      - specific_surface_area
      - specific_volume
      - temperature
      - time
      - time_emission_factor
      - voltage
      - volume
      - volume_carbon_emission_factor
      - volume_distance_carbon_emission_factor
      - volume_flow_rate
      - volume_fraction
      - volume_per_area
      title: QuantityKindType
      type: string
    InputDataShape:
      enum:
      - SCALAR
      - LIST
      title: InputDataShape
      type: string
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    PageInfo:
      properties:
        end_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: End Cursor
        has_next_page:
          title: Has Next Page
          type: boolean
        has_previous_page:
          title: Has Previous Page
          type: boolean
        start_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Cursor
      required:
      - has_previous_page
      - start_cursor
      - has_next_page
      - end_cursor
      title: PageInfo
      type: object
    ComponentBlueprintExpressionInputType:
      enum:
      - DATAPOINT
      - EXPRESSION_RESULT
      - ZERO_TCO2E
      title: ComponentBlueprintExpressionInputType
      type: string
    ComponentType:
      enum:
      - ACTIVITY
      - REMOVAL_COUNTERFACTUAL
      - SEQUESTRATION
      - LOSS
      - ADJUSTMENT
      - UNCERTAINTY_DISCOUNT
      title: ComponentType
      type: string
    ComponentBlueprintExpression:
      properties:
        inputs:
          description: List of inputs to the expression. It documents how variables in the template are interpolated.
          items:
            $ref: '#/components/schemas/ComponentBlueprintExpressionInput'
          title: Inputs
          type: array
        key:
          description: Identifier of the expression within the component.
          title: Key
          type: string
        template:
          description: Mathematical formula of the expression.
          title: Template
          type: string
      required:
      - key
      - template
      - inputs
      title: ComponentBlueprintExpression
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
