openapi: 3.2.0
info:
  description: '# Standards


    ## Versioning


    This API will be safely versioned using root path versioning, in the format `/v{major}`.'
  title: Isometric Certify Data Ingestion Feedstock Batches API
  version: v0
servers:
- description: Sandbox Isometric MRV API
  url: https://api.sandbox.isometric.com/mrv/v0
- description: Production Isometric MRV API
  url: https://api.isometric.com/mrv/v0
tags:
- name: Feedstock Batches
paths:
  /feedstock_batches:
    post:
      description: Creates a feedstock batch in the Isometric system
      operationId: post_feedstock_batch_feedstock_batches_post
      parameters:
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeedstockBatchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedstockBatch'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Post Feedstock Batch
      tags:
      - Feedstock Batches
  /feedstock_batches/{id}:
    delete:
      description: Deletes a feedstock batch in the Isometric system.
      operationId: delete_feedstock_batch_feedstock_batches__id__delete
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_FeedstockBatch_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Feedstock Batch
      tags:
      - Feedstock Batches
    get:
      description: Get a single feedstock batch in the Isometric system.
      operationId: get_feedstock_batch_feedstock_batches__id__get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/IsometricIDPathParam_FeedstockBatch_'
      - description: A secret token identifying the client connecting to the API
        in: header
        name: x-client-secret
        required: true
        schema:
          description: A secret token identifying the client connecting to the API
          examples:
          - Syou3EZiO5vuMEgNyBeA8cjEMYOnQDwP
          title: Client secret
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedstockBatch'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Feedstock Batch
      tags:
      - Feedstock Batches
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    FeedstockBatch:
      properties:
        created_at:
          format: date-time
          title: Created At
          type: string
        delivery_date:
          format: date
          title: Delivery Date
          type: string
        display_name:
          title: Display Name
          type: string
        feedstock_type_id:
          example: ftt_1D7KZ1P761S0G7BN
          examples:
          - ftt_1D7KZ1P761S0G7BN
          - ftt_1CSRJN4HHSBXZ3TK
          maxLength: 37
          minLength: 20
          title: Feedstock Type Id
          type: string
        id:
          example: ftb_1DYYDB3C91S0ZHPX
          examples:
          - ftb_1DYYDB3C91S0ZHPX
          - ftb_1G59XDK6HSBXCZ9B
          maxLength: 37
          minLength: 20
          title: Id
          type: string
        mass:
          anyOf:
          - $ref: '#/components/schemas/ScalarQuantity'
          - type: 'null'
        supplier_reference_id:
          anyOf:
          - description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
            maxLength: 100
            minLength: 1
            type: string
          - type: 'null'
          title: Supplier Reference Id
      required:
      - id
      - feedstock_type_id
      - supplier_reference_id
      - display_name
      - delivery_date
      - mass
      - created_at
      title: FeedstockBatch
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    IsometricIDPathParam_FeedstockBatch_:
      $ref: '#/components/schemas/IsometricIDRequestParam_FeedstockBatch_'
    CreateFeedstockBatchRequest:
      properties:
        delivery_date:
          description: The date the feedstock batch was delivered to a field / to a site etc
          format: date
          title: Delivery Date
          type: string
        display_name:
          description: The display name for this feedstock batch
          maxLength: 100
          minLength: 1
          title: Display Name
          type: string
        feedstock_type_id:
          description: The kind of feedstock used to create this feedstock batch
          example: ftt_1D7KZ1P761S0G7BN
          examples:
          - ftt_1D7KZ1P761S0G7BN
          - ftt_1CSRJN4HHSBXZ3TK
          maxLength: 37
          minLength: 20
          title: Feedstock Type Id
          type: string
        mass:
          $ref: '#/components/schemas/ScalarQuantity'
        supplier_reference_id:
          description: A string that must be unique for all resources created by a specific supplier. It can be used by a client to identify the correct objects in their system.
          maxLength: 100
          minLength: 1
          title: Supplier Reference Id
          type: string
      required:
      - feedstock_type_id
      - supplier_reference_id
      - display_name
      - delivery_date
      - mass
      title: CreateFeedstockBatchRequest
      type: object
    IsometricIDRequestParam_FeedstockBatch_:
      example: ftb_1DYYDB3C91S0ZHPX
      examples:
      - ftb_1DYYDB3C91S0ZHPX
      - ftb_1G59XDK6HSBXCZ9B
      maxLength: 37
      minLength: 20
      type: string
    ScalarQuantity:
      properties:
        magnitude:
          title: Magnitude
          type: number
        standard_deviation:
          anyOf:
          - type: number
          - type: 'null'
          title: Standard Deviation
        unit:
          minLength: 1
          title: Unit
          type: string
      required:
      - magnitude
      - unit
      title: ScalarQuantity
      type: object
  securitySchemes:
    HTTPBearer:
      bearerFormat: JWT
      description: 'A JWT Bearer token header for authentication and authorization, in the format `Authorization: Bearer <token>`'
      scheme: bearer
      type: http
